Repository yifanwww/template-electron-react: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --cache, eslint --cache

chore: upgrade electron to 37.4.0
  CHANGELOG.md
  package.json
  packages/app-main/package.json
  packages/app-main/src/main/app/__tests__/__snapshots__/getAppDetails.test.ts.snap
  packages/app-main/src/main/index.ts
  packages/app-main/src/main/utils/__tests__/__snapshots__/assert.test.ts.snap
  packages/app-renderer/src/utils/__tests__/__snapshots__/assert.test.ts.snap
  packages/scripts/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --cache

refactor: simplify code
  packages/app-main/package.json
  packages/app-main/src/main/apis/app.ts
  packages/app-main/src/main/apis/logger.ts
  packages/app-main/src/preload/app.ts
  packages/app-main/src/preload/index.ts
  packages/app-main/src/preload/logger.ts
  packages/app-renderer/package.json
  packages/app-renderer/src/MainWindow/containers/Home/Home.tsx
  packages/app-renderer/src/MainWindow/containers/Home/components/Introduction/Introduction.tsx
  packages/app-renderer/src/MainWindow/index.tsx
  packages/app-renderer/src/apis/exposes.ts
  packages/app-renderer/src/apis/index.ts
  packages/app-renderer/src/hooks/__tests__/usePersistFn.test.tsx
  packages/app-renderer/src/hooks/__tests__/usePrevious.test.tsx
  packages/app-renderer/src/hooks/index.ts
  packages/app-renderer/src/hooks/usePersistFn.ts
  packages/app-renderer/src/hooks/usePrevious.ts
  packages/app-renderer/src/index.tsx
  packages/app-renderer/src/types/electron.ts
  packages/app-renderer/src/utils/frameless/TitleBar.tsx
  packages/app-renderer/src/utils/react/index.ts
  packages/app-renderer/src/utils/react/types.ts
  pnpm-lock.yaml
Due: eslint --cache

chore(eslint): upgrade eslint to v9
  CHANGELOG.md
  packages/app-common/package.json
  packages/app-main/package.json
  packages/app-renderer/package.json
  packages/eslint-config/package.json
  packages/scripts/package.json
  pnpm-lock.yaml
Due: none

chore(vscode): update vscode settings
  template-electron-react.code-workspace
Due: none

chore: update lint-staged config
  packages/app-common/.lintstagedrc
  packages/app-main/.lintstagedrc
  packages/app-renderer/.lintstagedrc
  packages/scripts/.lintstagedrc
Due: none

refactor(renderer): update asset variables
  packages/app-renderer/src/MainWindow/containers/Home/components/Introduction/Introduction.tsx
  packages/app-renderer/src/assets/index.ts
Due: eslint --cache

feat(main): change AppInfo behaviour
  CHANGELOG.md
  packages/app-main/src/main/appInfo.ts
  packages/app-main/src/main/logger.ts
Due: eslint --cache

feat(main): log "App ready." after extensions installed
  packages/app-main/src/main/index.ts
Due: eslint --cache

feat: add standard API response structure
  packages/app-common/package.json
  packages/app-common/src/apis/app/apis.ts
  packages/app-common/src/apis/logger/apis.ts
  packages/app-common/src/apis/types/apis.ts
  packages/app-common/src/apis/types/index.ts
  packages/app-common/src/apis/types/standardResp.ts
  packages/app-main/src/main/apis/app.ts
  packages/app-renderer/src/MainWindow/containers/Home/Home.tsx
  packages/app-renderer/src/apis/app.ts
  packages/app-renderer/src/apis/index.ts
  packages/app-renderer/src/apis/logger.ts
  packages/app-renderer/src/index.tsx
Due: eslint --cache

fix(common): resolve nested Promise issue
  packages/app-common/src/apis/types/apis.ts
Due: eslint --cache

feat(main): add jest mocks
  packages/app-main/src/main/__mocks__/appInfo.ts
  packages/app-main/src/main/__mocks__/logger.ts
  packages/app-main/src/main/appInfo.ts
  packages/app-main/src/main/logger.ts
Due: eslint --cache

chore(eslint): turn off no-use-before-define for functions
  packages/eslint-config/.eslintrc.basic.js
Due: none

feat(main): add menu item to control whether the window state should be restored when app opens
  CHANGELOG.md
  packages/app-common/src/apis/app/apis.ts
  packages/app-main/src/main/configuration/store.ts
  packages/app-main/src/main/configuration/window.ts
  packages/app-main/src/main/index.ts
  packages/app-main/src/main/window/abstractWindow.ts
  packages/app-main/src/main/window/mainWindow.ts
  packages/app-main/src/main/window/types.ts
Due: eslint --cache

feat(main): remove window-state listeners when disabled
  packages/app-main/src/main/configuration/window.ts
  packages/app-main/src/main/window/abstractWindow.ts
Due: eslint --cache

chore(tsconfig): use nodenext
  packages/app-common/tsconfig.json
  packages/app-common/tsconfigs/tsconfig.lib.json
  packages/app-common/tsconfigs/tsconfig.types.json
  packages/scripts/tsconfig.json
  packages/scripts/tsconfigs/tsconfig.dist.json
  packages/scripts/tsconfigs/tsconfig.types.json
  packages/tsconfigs/tsconfig.base.json
  packages/tsconfigs/tsconfig.bundler.json
  packages/tsconfigs/tsconfig.node.eslint.json
  packages/tsconfigs/tsconfig.node.json
  packages/tsconfigs/tsconfig.node.types.json
  packages/tsconfigs/tsconfig.react.json
Due: none

chore: rename tsconfigs, simplify package.json exports
  packages/app-common/package.json
  packages/app-common/tsconfig.json
  packages/app-common/tsconfigs/tsconfig.lib.json
  packages/app-main/tsconfig.json
  packages/app-renderer/tsconfig.json
  packages/app-renderer/tsconfig.vite.json
  packages/scripts/package.json
  packages/scripts/tsconfig.json
  packages/scripts/tsconfigs/tsconfig.dist.json
  packages/tsconfigs/README.md
  packages/tsconfigs/tsconfig.base.json
  packages/tsconfigs/tsconfig.bundler.eslint.json
  packages/tsconfigs/tsconfig.bundler.json
  packages/tsconfigs/tsconfig.node.base.json
  packages/tsconfigs/tsconfig.node.eslint.json
  packages/tsconfigs/tsconfig.node.json
  packages/tsconfigs/tsconfig.node.types.json
  packages/tsconfigs/tsconfig.react.eslint.json
  packages/tsconfigs/tsconfig.react.json
Due: none

chore(config): change extensions order
  packages/eslint-config/.eslintrc.basic.js
  packages/scripts/src/jest/jest.config.ts
Due: eslint --cache

feat(renderer): add App component for putting cross-window configurations
  packages/app-renderer/src/app.tsx
  packages/app-renderer/src/index.tsx
Due: eslint --cache

feat(renderer): disable user-select by default
  packages/app-renderer/src/index.css
Due: stylelint --cache

feat(main): store settings inside project during development
  packages/app-main/src/main/configuration/store.ts
Due: eslint --cache

chore: format cts and mts files
  package.json
  packages/app-common/package.json
  packages/app-main/package.json
  packages/app-renderer/package.json
  packages/eslint-config/package.json
  packages/scripts/package.json
  packages/tsconfigs/package.json
Due: none

chore(webpack): support .js extension in imports
  packages/scripts/src/webpack/webpack.main.config.ts
Due: eslint --cache

chore(deps): refresh deps
  CHANGELOG.md
  package.json
  packages/app-common/package.json
  packages/app-main/package.json
  packages/app-renderer/package.json
  packages/eslint-config/package.json
  packages/scripts/package.json
  packages/tsconfigs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: use import.meta.resolve
  packages/scripts/src/electron.ts
  packages/scripts/src/jest/jest.config.ts
  packages/scripts/src/utils/paths.ts
  packages/scripts/src/webpack/webpack.main.config.ts
Due: eslint --cache

bump version to v0.15.0
  CHANGELOG.md
  package.json
  packages/app-common/package.json
  packages/app-main/package.json
  packages/app-renderer/package.json
  packages/eslint-config/package.json
  packages/scripts/package.json
  packages/tsconfigs/package.json
Due: none

chore: use pnpm catalogs
  .npmrc
  package.json
  packages/app-common/package.json
  packages/app-main/package.json
  packages/app-renderer/package.json
  packages/eslint-config/package.json
  packages/scripts/package.json
  packages/tsconfigs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(deps): upgrade react to v19.2.3
  CHANGELOG.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: set rest packages to esmodule (except root package)
  packages/app-main/eslint.config.js
  packages/app-main/package.json
  packages/app-renderer/eslint.config.js
  packages/app-renderer/package.json
  packages/app-renderer/tsconfig.vite.json
  packages/app-renderer/vite.config.ts
  packages/tsconfigs/package.json
Due: eslint --cache

chore: update vscode workspace settings
  .prettierrc
  template-electron-react.code-workspace
Due: none

chore(vite): set css target to electron chrome version
  CHANGELOG.md
  packages/app-renderer/package.json
  packages/app-renderer/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --cache

docs: update README
  .github/workflows/regular.yml
  .github/workflows/release.yml
  README.md
  docs/npm-scripts.md
  package.json
Due: none

chore(deps): upgrade electron to v40.1.0
  .github/workflows/regular.yml
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  package.json
  packages/scripts/package.json
  packages/scripts/src/bin.ts
  packages/scripts/src/electron.ts
  packages/scripts/src/utils/paths.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --cache

feat(main): expose APIs on safer field names
  packages/app-main/src/preload/index.ts
  packages/app-renderer/src/apis/exposes.ts
Due: eslint --cache

bump version to v0.16.0
  CHANGELOG.md
  package.json
  packages/app-common/package.json
  packages/app-main/package.json
  packages/app-renderer/package.json
  packages/eslint-config/package.json
  packages/scripts/package.json
  packages/tsconfigs/package.json
Due: none

chore: simplify npm scripts
  .github/workflows/regular.yml
  .github/workflows/release.yml
  package.json
  packages/app-common/package.json
  packages/app-main/package.json
  packages/app-renderer/package.json
  packages/scripts/package.json
Due: none

chore(eslint): update imports order
  packages/app-common/src/apis/app/apis.ts
  packages/app-common/src/apis/types/apis.ts
  packages/app-common/src/utils/__tests__/array.test.ts
  packages/app-common/src/utils/__tests__/function.test.ts
  packages/app-main/src/main/apis/app.ts
  packages/app-main/src/main/apis/logger.ts
  packages/app-main/src/main/appInfo.ts
  packages/app-main/src/main/configuration/store.ts
  packages/app-main/src/main/configuration/window.ts
  packages/app-main/src/main/index.ts
  packages/app-main/src/main/logger.ts
  packages/app-main/src/main/utils/__tests__/assert.test.ts
  packages/app-main/src/main/window/abstractWindow.ts
  packages/app-main/src/main/window/mainWindow.ts
  packages/app-main/src/preload/index.ts
  packages/app-renderer/src/MainWindow/containers/Home/Home.tsx
  packages/app-renderer/src/MainWindow/containers/Home/components/Introduction/Introduction.tsx
  packages/app-renderer/src/MainWindow/containers/Home/components/Introduction/__tests__/Introduction.test.tsx
  packages/app-renderer/src/MainWindow/index.tsx
  packages/app-renderer/src/MainWindow/router/routes.tsx
  packages/app-renderer/src/app.tsx
  packages/app-renderer/src/index.tsx
  packages/app-renderer/src/utils/__tests__/assert.test.ts
  packages/app-renderer/src/utils/frameless/TitleBar.tsx
  packages/eslint-config/src/rules/import.ts
  packages/scripts/src/bin.ts
  packages/scripts/src/jest/jest.config.ts
  packages/scripts/src/jest/transform.file.ts
  packages/scripts/src/utils/paths.ts
  packages/scripts/src/webpack/utils/reloadElectronWebpackPlugin.ts
  packages/scripts/src/webpack/webpack.main.config.ts
Due: eslint --cache

chore: simplify package.json
  .gitignore
  package.json
  packages/common/package.json
  packages/eslint-config/package.json
  packages/main/package.json
  packages/renderer/package.json
  packages/scripts/package.json
  packages/tsconfigs/package.json
Due: none

Path conditions:
  stylelint --cache: any of: *.{css,sass,scss}
  eslint --cache: any of: *.{ts,tsx}
