Repository yifanwww/template-electron-react: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --cache, eslint --cache

feat: improve security, use preload scripts
  app/electron-main/src/ipc/index.ts
  app/electron-main/src/ipc/register.ts
  app/electron-main/src/main/apis/app/index.ts
  app/electron-main/src/main/apis/utils.ts
  app/electron-main/src/main/appPaths.ts
  app/electron-main/src/main/index.ts
  app/electron-main/src/main/utils/getAppDetails.ts
  app/electron-main/src/main/utils/index.ts
  app/electron-main/src/main/window/abstractWindow.ts
  app/electron-main/src/main/window/index.ts
  app/electron-main/src/main/window/mainWindow.ts
  app/electron-main/src/main/window/types.ts
  app/electron-main/src/main/window/windowManager.ts
  app/electron-main/src/preload/appAPI.ts
  app/electron-main/src/preload/index.ts
  app/electron-renderer/src/MainWindow/redux/thunks/thunks.ts
  app/electron-renderer/src/apis/index.ts
  app/electron-renderer/src/index.tsx
  configs/scripts/src/utils/paths.ts
  configs/scripts/src/webpack/webpack.base.config.ts
  configs/scripts/src/webpack/webpack.main.config.ts
  configs/scripts/src/webpack/webpack.renderer.config.ts
  packages/electron-common/src/apis/app.ts
  packages/electron-common/src/apis/index.ts
  packages/electron-common/src/apis/types.ts
  packages/electron-common/src/index.ts
  packages/electron-common/src/ipc/channels.ts
  packages/electron-common/src/ipc/client.ts
  packages/electron-common/src/ipc/index.ts
  packages/electron-common/src/ipc/server.ts
  template-electron-cra.code-workspace
Due: eslint --cache

chore(deps): bump `typescript-plugin-css-modules` to v5 to make it work with typescript v5
  configs/stylelint-config/package.json
  configs/tsconfigs/package.json
  pnpm-lock.yaml
Due: none

feat(electron-main): add unit tests
  app/electron-main/package.json
  app/electron-main/src/main/utils/__tests__/__snapshots__/getAppDetails.test.ts.snap
  app/electron-main/src/main/utils/__tests__/getAppDetails.test.ts
  app/electron-main/src/main/utils/getAppDetails.ts
  app/electron-main/src/preload/app.ts
  app/electron-main/src/preload/index.ts
  pnpm-lock.yaml
Due: eslint --cache

chore(deps): refresh deps
  app/electron-main/package.json
  app/electron-renderer/package.json
  configs/eslint-config/package.json
  configs/global-types/package.json
  configs/scripts/package.json
  configs/stylelint-config/package.json
  configs/tsconfigs/package.json
  package.json
  packages/electron-common/package.json
  packages/hooks/package.json
  packages/utils-react-router/package.json
  packages/utils-react/package.json
  packages/utils-redux/package.json
  packages/utils-test/package.json
  packages/utils-type/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: none

feat: support saving window states
  app/electron-main/package.json
  app/electron-main/src/main/apis/app/getAppDetails.ts
  app/electron-main/src/main/apis/app/index.ts
  app/electron-main/src/main/appPaths.ts
  app/electron-main/src/main/configuration/index.ts
  app/electron-main/src/main/configuration/store.ts
  app/electron-main/src/main/configuration/types.ts
  app/electron-main/src/main/configuration/window.ts
  app/electron-main/src/main/index.ts
  app/electron-main/src/main/window/abstractWindow.ts
  app/electron-main/src/main/window/mainWindow.ts
  app/electron-main/src/main/window/types.ts
  app/electron-main/src/main/window/windowManager.ts
  app/electron-renderer/src/index.tsx
  packages/electron-common/src/apis/app.ts
  packages/electron-common/src/type.ts
  pnpm-lock.yaml
Due: eslint --cache

feat(electron-common): add ipc channel prefix
  packages/electron-common/src/apis/app.ts
Due: eslint --cache

feat(electron-common): add api type builder `IpcRendererInvokerAPI`
  packages/electron-common/src/apis/app.ts
  packages/electron-common/src/apis/types.ts
Due: eslint --cache

refactor: add API descriptions, rename files
  app/electron-renderer/src/MainWindow/containers/HomePage/HomePage.tsx
  app/electron-renderer/src/MainWindow/containers/HomePage/index.ts
  app/electron-renderer/src/MainWindow/redux/actions/__tests__/__snapshots__/reducers.app.test.ts.snap
  app/electron-renderer/src/MainWindow/redux/actions/__tests__/reducers.app.test.ts
  app/electron-renderer/src/MainWindow/redux/actions/reducers.app.ts
  app/electron-renderer/src/MainWindow/redux/actions/slice.ts
  app/electron-renderer/src/MainWindow/redux/hooks/index.ts
  app/electron-renderer/src/MainWindow/redux/hooks/use.app.ts
  app/electron-renderer/src/MainWindow/redux/hooks/use.displayConfig.ts
  app/electron-renderer/src/MainWindow/redux/thunks/index.ts
  app/electron-renderer/src/MainWindow/redux/thunks/thunks.app.ts
  packages/electron-common/src/apis/app.ts
Due: eslint --cache

feat: improve apis (#43)
  app/electron-renderer/src/MainWindow/containers/HomePage/HomePage.tsx
  app/electron-renderer/src/MainWindow/containers/HomePage/index.ts
  app/electron-renderer/src/MainWindow/redux/actions/__tests__/__snapshots__/reducers.app.test.ts.snap
  app/electron-renderer/src/MainWindow/redux/actions/__tests__/reducers.app.test.ts
  app/electron-renderer/src/MainWindow/redux/actions/reducers.app.ts
  app/electron-renderer/src/MainWindow/redux/actions/slice.ts
  app/electron-renderer/src/MainWindow/redux/hooks/index.ts
  app/electron-renderer/src/MainWindow/redux/hooks/use.app.ts
  app/electron-renderer/src/MainWindow/redux/hooks/use.displayConfig.ts
  app/electron-renderer/src/MainWindow/redux/thunks/index.ts
  app/electron-renderer/src/MainWindow/redux/thunks/thunks.app.ts
  packages/electron-common/src/apis/app.ts
  packages/electron-common/src/apis/types.ts
Due: eslint --cache

chore(eslint): disable `no-await-in-loop`
  configs/eslint-config/.eslintrc.js
Due: none

chore(stylelint): disable `max-nesting-depth`
  configs/stylelint-config/index.js
Due: none

chore(typescript): fix typescript-plugin-css-modules load paths to resolve imports based on `baseUrl`
  app/electron-renderer/package.json
  app/electron-renderer/tsconfig.json
  configs/tsconfigs/package.json
  configs/tsconfigs/tsconfig.react.json
  pnpm-lock.yaml
Due: none

chore: improve lint configs and typescript configs (#44)
  app/electron-renderer/package.json
  app/electron-renderer/tsconfig.json
  configs/eslint-config/.eslintrc.js
  configs/stylelint-config/index.js
  configs/tsconfigs/package.json
  configs/tsconfigs/tsconfig.react.json
  pnpm-lock.yaml
Due: none

feat: delete pkg `@tecra-pkg/utils-react`
  app/electron-renderer/package.json
  app/electron-renderer/src/MainWindow/index.tsx
  app/electron-renderer/src/MainWindow/redux/actions/reducers.DisplayConfig.ts
  app/electron-renderer/src/MainWindow/redux/types.ts
  app/electron-renderer/src/utils/frameless/TitleBar.tsx
  app/electron-renderer/src/utils/react/index.ts
  app/electron-renderer/src/utils/react/types.ts
  packages/utils-react/.eslintrc.json
  packages/utils-react/.prettierignore
  packages/utils-react/README.md
  packages/utils-react/package.json
  packages/utils-react/src/global.d.ts
  packages/utils-react/src/index.ts
  packages/utils-react/src/onRender.tsx
  packages/utils-react/tsconfig.json
  packages/utils-react/tsconfigs/tsconfig.esm.json
  packages/utils-react/tsconfigs/tsconfig.types.json
  pnpm-lock.yaml
  template-electron-cra.code-workspace
Due: eslint --cache

feat: delete pkg `@tecra-pkg/utils-react-router`
  app/electron-renderer/package.json
  app/electron-renderer/src/MainWindow/routes/Routes.ts
  app/electron-renderer/src/utils/react-router/createRoutes.ts
  app/electron-renderer/src/utils/react-router/index.ts
  app/electron-renderer/src/utils/react-router/types.ts
  packages/utils-react-router/.eslintrc.json
  packages/utils-react-router/.prettierignore
  packages/utils-react-router/README.md
  packages/utils-react-router/package.json
  packages/utils-react-router/src/global.d.ts
  packages/utils-react-router/tsconfig.json
  packages/utils-react-router/tsconfigs/tsconfig.esm.json
  packages/utils-react-router/tsconfigs/tsconfig.types.json
  pnpm-lock.yaml
  template-electron-cra.code-workspace
Due: eslint --cache

feat: delete pkg `@tecra-pkg/utils-redux`
  app/electron-renderer/package.json
  app/electron-renderer/src/MainWindow/redux/actions/slice.ts
  app/electron-renderer/src/MainWindow/redux/hooks/useDispatching.ts
  app/electron-renderer/src/MainWindow/redux/thunks/createMainThunk.ts
  app/electron-renderer/src/MainWindow/redux/types.ts
  app/electron-renderer/src/utils/redux/index.ts
  app/electron-renderer/src/utils/redux/omitUnderscorePrefixActions.ts
  app/electron-renderer/src/utils/redux/thunkCreatorFactory.ts
  app/electron-renderer/src/utils/redux/types.ts
  app/electron-renderer/src/utils/redux/useDispatching.ts
  packages/utils-redux/.eslintrc.json
  packages/utils-redux/.prettierignore
  packages/utils-redux/README.md
  packages/utils-redux/package.json
  packages/utils-redux/src/global.d.ts
  packages/utils-redux/tsconfig.json
  packages/utils-redux/tsconfigs/tsconfig.esm.json
  packages/utils-redux/tsconfigs/tsconfig.types.json
  pnpm-lock.yaml
  template-electron-cra.code-workspace
Due: eslint --cache

feat: delete pkg `@tecra-pkg/utils`
  packages/electron-common/package.json
  packages/electron-common/src/apis/app.ts
  packages/electron-common/src/index.ts
  packages/electron-common/src/timer.ts
  packages/electron-common/src/types.ts
  packages/electron-common/src/utils.ts
  packages/utils/.eslintrc.json
  packages/utils/.prettierignore
  packages/utils/README.md
  packages/utils/package.json
  packages/utils/src/__tests__/array.test.ts
  packages/utils/src/__tests__/enum.test.ts
  packages/utils/src/__tests__/function.test.ts
  packages/utils/src/__tests__/object.test.ts
  packages/utils/src/__tests__/string.test.ts
  packages/utils/src/array.ts
  packages/utils/src/enum.ts
  packages/utils/src/function.ts
  packages/utils/src/index.ts
  packages/utils/src/object.ts
  packages/utils/src/string.ts
  packages/utils/tsconfig.json
  packages/utils/tsconfigs/tsconfig.esm.json
  packages/utils/tsconfigs/tsconfig.types.json
  pnpm-lock.yaml
  template-electron-cra.code-workspace
Due: eslint --cache

feat: delete pkg `@tecra-pkg/utils-test`
  app/electron-renderer/package.json
  app/electron-renderer/src/MainWindow/storage/__tests__/localStorage.test.ts
  app/electron-renderer/src/MainWindow/storage/__tests__/sessionStorage.test.ts
  app/electron-renderer/src/__tests__/hook.ts
  app/electron-renderer/src/__tests__/storage.ts
  app/electron-renderer/src/hooks/__tests__/usePersistFn.test.tsx
  app/electron-renderer/src/test.setup.ts
  configs/scripts/src/jest/jest.config.ts
  configs/scripts/src/utils/paths.ts
  packages/utils-test/.eslintrc.json
  packages/utils-test/.prettierignore
  packages/utils-test/README.md
  packages/utils-test/package.json
  packages/utils-test/src/__tests__/class.test.ts
  packages/utils-test/src/class.ts
  packages/utils-test/src/console.ts
  packages/utils-test/src/index.ts
  packages/utils-test/tsconfig.json
  packages/utils-test/tsconfigs/tsconfig.esm.json
  packages/utils-test/tsconfigs/tsconfig.types.json
  pnpm-lock.yaml
  template-electron-cra.code-workspace
Due: eslint --cache

feat: delete pkg `@tecra-pkg/utils-type`
  app/electron-main/package.json
  app/electron-main/src/main/window/windowManager.ts
  app/electron-renderer/package.json
  app/electron-renderer/src/hooks/__tests__/usePersistFn.test.tsx
  app/electron-renderer/src/hooks/usePersistFn.ts
  app/electron-renderer/src/index.tsx
  app/electron-renderer/src/utils/redux/omitUnderscorePrefixActions.ts
  app/electron-renderer/src/utils/style/__tests__/colorTransformer.test.ts
  packages/electron-common/package.json
  packages/electron-common/src/apis/app.ts
  packages/electron-common/src/types.ts
  packages/electron-common/src/types/function.ts
  packages/electron-common/src/types/index.ts
  packages/utils-type/.eslintrc.json
  packages/utils-type/.prettierignore
  packages/utils-type/README.md
  packages/utils-type/package.json
  packages/utils-type/src/char.ts
  packages/utils-type/src/index.ts
  packages/utils-type/src/pickKeys.ts
  packages/utils-type/src/pickProps.ts
  packages/utils-type/src/primitives.ts
  packages/utils-type/src/utils.ts
  packages/utils-type/tsconfig.json
  packages/utils-type/tsconfigs/tsconfig.esm.json
  packages/utils-type/tsconfigs/tsconfig.types.json
  pnpm-lock.yaml
  template-electron-cra.code-workspace
Due: eslint --cache

feat: delete pkg `@tecra-config/stylelint-config`
  app/electron-renderer/.stylelintrc.js
  app/electron-renderer/.stylelintrc.json
  app/electron-renderer/package.json
  configs/stylelint-config/.prettierignore
  configs/stylelint-config/README.md
  configs/stylelint-config/index.js
  configs/stylelint-config/package.json
  pnpm-lock.yaml
  template-electron-cra.code-workspace
Due: none

feat: delete pkg `@tecra-config/global-types`
  app/electron-main/package.json
  app/electron-main/src/global.d.ts
  app/electron-renderer/package.json
  app/electron-renderer/src/global.d.ts
  configs/global-types/.eslintrc.json
  configs/global-types/.prettierignore
  configs/global-types/README.md
  configs/global-types/package.json
  configs/global-types/tsconfig.json
  configs/global-types/types/assets.d.ts
  configs/global-types/types/env.d.ts
  configs/global-types/types/index.node.d.ts
  configs/global-types/types/index.react.d.ts
  configs/global-types/types/typescript/lib.es5.d.ts
  packages/electron-common/package.json
  packages/electron-common/src/global.d.ts
  pnpm-lock.yaml
  template-electron-cra.code-workspace
Due: eslint --cache

feat: delete unused utils
  packages/electron-renderer/src/utils/style/__tests__/colorTransformer.test.ts
  packages/electron-renderer/src/utils/style/__tests__/num2string.test.ts
  packages/electron-renderer/src/utils/style/__tests__/styleUtils.test.ts
  packages/electron-renderer/src/utils/style/colorTransformer.ts
  packages/electron-renderer/src/utils/style/index.ts
  packages/electron-renderer/src/utils/style/num2string.ts
  packages/electron-renderer/src/utils/style/styleUtils.ts
Due: eslint --cache

chore: delete unused tsconfig templates
  packages/scripts/tsconfig.json
  packages/tsconfigs/tsconfig.eslint.react.json
  packages/tsconfigs/tsconfig.node.json
  packages/tsconfigs/tsconfig.react.cjs.json
  packages/tsconfigs/tsconfig.react.esm.json
  packages/tsconfigs/tsconfig.react.types.json
Due: none

chore: fix github ci
  .github/workflows/regular.yml
Due: none

fix: fix type issues
  packages/electron-main/src/main/configuration/store.ts
  packages/electron-main/src/main/configuration/window.ts
Due: eslint --cache

bump version to v0.10.0
  CHANGELOG.md
  README.md
  docs/install-electron.md
  docs/npm-scripts.md
  package.json
  packages/electron-common/package.json
  packages/electron-main/package.json
  packages/electron-renderer/package.json
  packages/eslint-config/package.json
  packages/scripts/package.json
  packages/tsconfigs/package.json
Due: none

refactor: stop using react.fc
  packages/electron-renderer/src/MainWindow/components/Introduction/Introduction.tsx
  packages/electron-renderer/src/MainWindow/containers/HomePage/HomePage.tsx
  packages/electron-renderer/src/MainWindow/index.tsx
  packages/electron-renderer/src/index.tsx
  packages/electron-renderer/src/utils/frameless/FramelessWindow.tsx
  packages/electron-renderer/src/utils/frameless/TitleBar.tsx
  packages/electron-renderer/src/utils/react/types.ts
Due: eslint --cache

feat: don't change arguments when preloading apis
  packages/app-main/src/preload/app.ts
Due: eslint --cache

refactor: move api files
  packages/app-common/src/apis/app/apis.ts
  packages/app-common/src/apis/app/index.ts
  packages/app-common/src/apis/app/types.ts
Due: eslint --cache

refactor: pass window-type via additional arguments
  packages/app-common/src/apis/app/apis.ts
  packages/app-common/tsconfig.json
  packages/app-common/tsconfigs/tsconfig.esm.json
  packages/app-common/tsconfigs/tsconfig.types.json
  packages/app-main/package.json
  packages/app-main/src/main/apis/app/index.ts
  packages/app-main/src/main/window/abstractWindow.ts
  packages/app-main/src/preload/app.ts
  packages/app-main/src/preload/args.ts
  packages/app-main/tsconfig.json
  packages/app-renderer/src/index.tsx
  packages/app-renderer/tsconfig.json
  packages/scripts/bin/app-main.js
  packages/scripts/bin/app-renderer.js
  packages/scripts/bin/mkdir-working.js
  packages/scripts/bin/run-build.js
  packages/scripts/bin/run-unpacked.js
  packages/scripts/bin/unit-test.js
  packages/scripts/src/bin.ts
  packages/tsconfigs/README.md
  packages/tsconfigs/tsconfig.bundler.json
  packages/tsconfigs/tsconfig.bundler.react.json
  packages/tsconfigs/tsconfig.bundler.types.json
  packages/tsconfigs/tsconfig.eslint.bundler.json
  packages/tsconfigs/tsconfig.node.esm.json
  pnpm-lock.yaml
Due: eslint --cache

refactor: pass window-type via additional arguments (#48)
  packages/app-common/src/apis/app.ts
  packages/app-common/src/apis/app/apis.ts
  packages/app-common/src/apis/app/index.ts
  packages/app-common/src/apis/app/types.ts
  packages/app-common/tsconfig.json
  packages/app-common/tsconfigs/tsconfig.esm.json
  packages/app-common/tsconfigs/tsconfig.types.json
  packages/app-main/package.json
  packages/app-main/src/main/apis/app/index.ts
  packages/app-main/src/main/window/abstractWindow.ts
  packages/app-main/src/preload/app.ts
  packages/app-main/src/preload/args.ts
  packages/app-main/tsconfig.json
  packages/app-renderer/src/index.tsx
  packages/app-renderer/tsconfig.json
  packages/scripts/bin/app-main.js
  packages/scripts/bin/app-renderer.js
  packages/scripts/bin/mkdir-working.js
  packages/scripts/bin/run-build.js
  packages/scripts/bin/run-unpacked.js
  packages/scripts/bin/unit-test.js
  packages/scripts/src/bin.ts
  packages/tsconfigs/README.md
  packages/tsconfigs/tsconfig.bundler.json
  packages/tsconfigs/tsconfig.bundler.react.json
  packages/tsconfigs/tsconfig.bundler.types.json
  packages/tsconfigs/tsconfig.eslint.bundler.json
  packages/tsconfigs/tsconfig.node.esm.json
  pnpm-lock.yaml
Due: eslint --cache

refactor: move files
  packages/app-renderer/src/MainWindow/pages/HomePage/HomePage.tsx
  packages/app-renderer/src/MainWindow/pages/HomePage/components/Introduction/Introduction.module.scss
  packages/app-renderer/src/MainWindow/pages/HomePage/components/Introduction/Introduction.tsx
  packages/app-renderer/src/MainWindow/pages/HomePage/components/Introduction/__tests__/Introduction.test.tsx
  packages/app-renderer/src/MainWindow/pages/HomePage/components/Introduction/__tests__/__snapshots__/Introduction.test.tsx.snap
  packages/app-renderer/src/MainWindow/pages/HomePage/components/Introduction/index.ts
  packages/app-renderer/src/MainWindow/pages/HomePage/index.ts
  packages/app-renderer/src/MainWindow/routes/Routes.ts
Due: stylelint --cache, eslint --cache

Path conditions:
  stylelint --cache: any of: *.{css,sass,scss}
  eslint --cache: any of: *.{ts,tsx}
