Repository yifanwww/template-electron-react: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --cache, eslint --cache

refactor(logger): improve logging with daily rotation, graceful shutdown, and IPC cleanup
  package.json
  pnpm-lock.yaml
  src/main/__mocks__/appInfo.ts
  src/main/__mocks__/logger.ts
  src/main/apis/app.ts
  src/main/apis/logger.ts
  src/main/appInfo.ts
  src/main/index.ts
  src/main/logger.ts
  src/main/window/abstractWindow.ts
  src/preload/index.ts
  src/shared/apis/app/apis.ts
  src/shared/apis/logger/apis.ts
Due: eslint --cache

refactor(main): use import.meta.env.DEV instead of process.env.NODE_ENV
  src/main/index.ts
  src/main/logger.ts
Due: eslint --cache

fix(window): clear stateChangeTimer reference after firing
  src/main/configuration/window.ts
Due: eslint --cache

refactor(lint): swap lint/lint-ci semantics, add lint-fix for local dev
  .github/workflows/regular.yml
  README.md
  package.json
Due: none

chore(eslint): refactor config structure, extract periodic rules and prettier config
  .lintstagedrc
  configs/eslint/rules.import.mjs
  configs/eslint/rules.jest.mjs
  configs/eslint/rules.periodic.mjs
  configs/eslint/rules.prettier.mjs
  configs/eslint/rules.react-hooks.mjs
  configs/eslint/rules.react.mjs
  eslint.config.mjs
Due: none

refactor(logger): remove chalk, simplify logger to file-only with child() API
  electron.vite.config.mts
  package.json
  pnpm-lock.yaml
  src/main/__mocks__/logger.ts
  src/main/apis/logger.ts
  src/main/index.ts
  src/main/logger.ts
  src/main/window/abstractWindow.ts
  src/shared/apis/logger/apis.ts
Due: eslint --cache

docs(skill): reformat jest-module-mocking SKILL.md for readability
  .agents/skills/jest-module-mocking/SKILL.md
Due: none

chore: migrate electron-builder config to YAML and update dist scripts
  .github/workflows/release.yml
  README.md
  electron-builder.json
  electron-builder.yaml
  package.json
  scripts/run-bundled.mjs
Due: none

refactor(logger): simplify type signatures with optional meta parameter
  src/main/logger.ts
  src/shared/apis/logger/apis.ts
Due: eslint --cache

refactor: use typescript-eslint instead of @typescript-eslint/parser
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

refactor(main): defer logger initialization with configureLogsPath/getLogger pattern
  src/main/__mocks__/appInfo.ts
  src/main/__mocks__/logger.ts
  src/main/appInfo.ts
  src/main/index.ts
  src/main/logger.ts
  src/main/window/abstractWindow.ts
Due: eslint --cache

refactor(preload): extract forward helper to deduplicate IPC bridge methods
  src/preload/index.ts
Due: eslint --cache

chore: only format files when git committing
  .lintstagedrc
  package.json
Due: none

chore(deps): remove jest-watch-typeahead
  configs/jest/jest.jsdom.config.mjs
  configs/jest/jest.node.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): refresh deps
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  scripts/run-bundled.mjs
  tsconfig.json
Due: none

test: use vitest to do unit testing
  .agents/skills/jest-module-mocking/SKILL.md
  .prettierignore
  CHANGELOG.md
  README.md
  configs/eslint/rules.jest.mjs
  configs/eslint/rules.vitest.mjs
  configs/jest/jest.jsdom.config.mjs
  configs/jest/jest.node.config.mjs
  configs/jest/jest.setup.mjs
  configs/jest/transform.css.mjs
  configs/jest/transform.file.mjs
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/main/app/__tests__/getAppDetails.test.ts
  src/main/utils/__tests__/assert.test.ts
  src/renderer/MainWindow/containers/Home/__tests__/Introduction.test.tsx
  src/renderer/MainWindow/containers/Home/__tests__/__snapshots__/Introduction.test.tsx.snap
  src/renderer/utils/__tests__/assert.test.ts
  src/shared/utils/__tests__/array.test.ts
  src/shared/utils/__tests__/function.test.ts
  src/test-jsdom.setup.ts
  tsconfig.config.json
  vitest.jsdom.config.mts
  vitest.node.config.mts
Due: eslint --cache

chore(deps): upgrade pnpm to 11.21.0
  package.json
  pnpm-workspace.yaml
Due: none

chore(deps): remove @testing-library/dom, we don't directly use it
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: none

chore: remove agent skills from prettier ignore
  .prettierignore
Due: none

refactor(configuration): encapsulate store access and simplify window state keeper
  CHANGELOG.md
  src/main/configuration/store.ts
  src/main/configuration/window.ts
  src/main/window/abstractWindow.ts
  src/main/window/mainWindow.ts
Due: eslint --cache

feat(config): add JSON schema validation for electron-store settings
  CHANGELOG.md
  src/main/configuration/store.ts
Due: eslint --cache

refactor: change JSON serialization indent from 4 to 2 spaces
  src/main/configuration/store.ts
Due: eslint --cache

refactor(renderer): remove unused frameless window and title bar components
  CHANGELOG.md
  src/renderer/MainWindow/index.tsx
  src/renderer/types/electron.ts
  src/renderer/utils/frameless/Frameless.module.scss
  src/renderer/utils/frameless/FramelessWindow.tsx
  src/renderer/utils/frameless/TitleBar.tsx
  src/renderer/utils/frameless/index.ts
Due: stylelint --cache, eslint --cache

ci: remove pull_request trigger from release workflow
  .github/workflows/release.yml
Due: none

refactor(logger): simplify logger initialization
  CHANGELOG.md
  src/main/__mocks__/logger.ts
  src/main/index.ts
  src/main/logger.ts
Due: eslint --cache

chore(deps): remove dayjs
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  src/main/dayjs.ts
  src/main/index.ts
Due: eslint --cache

chore(deps): upgrade electron to 43.4.1
  CHANGELOG.md
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vitest.jsdom.config.mts
  vitest.node.config.mts
Due: none

refactor(renderer): prefer .module.css for css styles
  src/renderer/MainWindow/containers/Home/Home.module.css
  src/renderer/MainWindow/containers/Home/Home.tsx
  src/renderer/MainWindow/containers/Home/Introduction.module.css
  src/renderer/MainWindow/containers/Home/Introduction.tsx
  src/renderer/MainWindow/containers/Home/__tests__/__snapshots__/Introduction.test.tsx.snap
Due: stylelint --cache, eslint --cache

chore: remove scss/sass support and update build targets
  .lintstagedrc
  .stylelintrc.mjs
  CHANGELOG.md
  configs/eslint/rules.import.mjs
  electron.vite.config.mts
  package.json
  pnpm-lock.yaml
  vitest.jsdom.config.mts
  vitest.node.config.mts
Due: none

refactor(window): simplify renderer URL loading condition
  src/main/window/abstractWindow.ts
Due: eslint --cache

bump version to v0.17.0
  CHANGELOG.md
  README.md
  package.json
Due: none

chore(stylelint): remove stylelint-config-recess-order and property order rules
  .stylelintrc.mjs
  package.json
  pnpm-lock.yaml
Due: none

chore(renderer): remove web-vitals dependency and reportWebVitals boilerplate
  package.json
  pnpm-lock.yaml
  src/renderer/index.tsx
  src/renderer/reportWebVitals.ts
Due: eslint --cache

refactor: split configuration store into settings and app-state stores
  src/main/configuration/__tests__/store.test.ts
  src/main/configuration/__tests__/stores/app-state-invalid.json
  src/main/configuration/__tests__/stores/app-state-valid.json
  src/main/configuration/__tests__/stores/settings-invalid.json
  src/main/configuration/__tests__/stores/settings-valid.json
  src/main/configuration/index.ts
  src/main/configuration/store.ts
  src/main/window/mainWindow.ts
Due: eslint --cache

refactor(main): remove unused utils
  src/main/utils/__tests__/assert.test.ts
  src/main/utils/assert.ts
Due: eslint --cache

refactor(logger): simplify logger API with createLogger/createManagedLogger
  src/main/__mocks__/logger.ts
  src/main/apis/logger.ts
  src/main/index.ts
  src/main/logger.ts
  src/main/window/abstractWindow.ts
  src/preload/index.ts
  src/shared/apis/logger/apis.ts
Due: eslint --cache

refactor(shared): rename logger API module to logging
  src/main/apis/logger.ts
  src/main/window/abstractWindow.ts
  src/preload/index.ts
  src/renderer/apis/exposes.ts
  src/renderer/apis/logger.ts
  src/shared/apis/app/apis.ts
  src/shared/apis/logger/apis.ts
  src/shared/apis/logging/apis.ts
  src/shared/apis/logging/index.ts
Due: eslint --cache

refactor(shared): flatten shared/apis into shared/
  src/main/apis/app.ts
  src/main/apis/logger.ts
  src/main/apis/utils.ts
  src/main/app/getAppDetails.ts
  src/main/window/abstractWindow.ts
  src/main/window/mainWindow.ts
  src/preload/args.ts
  src/preload/index.ts
  src/renderer/MainWindow/containers/Home/Home.tsx
  src/renderer/MainWindow/containers/Home/Introduction.tsx
  src/renderer/MainWindow/containers/Home/__tests__/Introduction.test.tsx
  src/renderer/apis/exposes.ts
  src/renderer/app.tsx
  src/shared/api-types.ts
  src/shared/apis/app/index.ts
  src/shared/apis/logging/index.ts
  src/shared/apis/types/index.ts
  src/shared/apis/types/standardResp.ts
  src/shared/app/apis.ts
  src/shared/app/contracts.ts
  src/shared/logging/apis.ts
Due: eslint --cache

chore(build): rename output dir to out/ and improve resource handling
  .gitignore
  .prettierignore
  .stylelintrc.mjs
  README.md
  build/.gitkeep
  electron-builder.yaml
  electron.vite.config.mts
  eslint.config.mjs
  package.json
  src/main/__mocks__/appInfo.ts
  src/main/appInfo.ts
Due: eslint --cache

refactor(main): remove unused HandlerRegister
  src/main/apis/utils.ts
Due: eslint --cache

Path conditions:
  stylelint --cache: any of: *.{css,sass,scss}
  eslint --cache: any of: *.{ts,tsx}
