Repository yifanwww/template-electron-react: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --cache, eslint --cache

.lintstagedrc:

{
    "*.{css,sass,scss}": [
        "stylelint --cache"
    ],
    "*.{ts,tsx}": [
        "eslint --cache"
    ]
}

refactor: move files
  packages/app-renderer/src/MainWindow/pages/HomePage/HomePage.tsx
  packages/app-renderer/src/MainWindow/pages/HomePage/components/Introduction/Introduction.module.scss
  packages/app-renderer/src/MainWindow/pages/HomePage/components/Introduction/Introduction.tsx
  packages/app-renderer/src/MainWindow/pages/HomePage/components/Introduction/__tests__/Introduction.test.tsx
  packages/app-renderer/src/MainWindow/pages/HomePage/components/Introduction/__tests__/__snapshots__/Introduction.test.tsx.snap
  packages/app-renderer/src/MainWindow/pages/HomePage/components/Introduction/index.ts
  packages/app-renderer/src/MainWindow/pages/HomePage/index.ts
  packages/app-renderer/src/MainWindow/routes/Routes.ts
Due: stylelint --cache, eslint --cache

chore: clean node_module cache when exec NPM script clean
  package.json
  packages/app-main/package.json
  packages/app-renderer/package.json
Due: none

feat: improve api-builder types
  packages/app-common/src/apis/app/apis.ts
  packages/app-common/src/apis/types.ts
  packages/app-main/src/main/apis/utils.ts
Due: eslint --cache

refactor: freeze API objects
  packages/app-common/src/apis/app/apis.ts
  packages/app-main/src/preload/app.ts
Due: eslint --cache

Revert "refactor: freeze API objects"
  packages/app-common/src/apis/app/apis.ts
  packages/app-main/src/preload/app.ts
Due: eslint --cache

feat: delete unused code
  packages/app-renderer/src/MainWindow/index.tsx
  packages/app-renderer/src/MainWindow/redux/actions/__tests__/__snapshots__/reducers.DisplayConfig.test.ts.snap
  packages/app-renderer/src/MainWindow/redux/actions/__tests__/reducers.DisplayConfig.test.ts
  packages/app-renderer/src/MainWindow/redux/actions/reducers.DisplayConfig.ts
  packages/app-renderer/src/MainWindow/redux/actions/slice.ts
  packages/app-renderer/src/MainWindow/redux/hooks/index.ts
  packages/app-renderer/src/MainWindow/redux/hooks/use.displayConfig.ts
  packages/app-renderer/src/MainWindow/redux/types.ts
  packages/app-renderer/src/MainWindow/storage/__tests__/localStorage.test.ts
  packages/app-renderer/src/MainWindow/storage/__tests__/sessionStorage.test.ts
  packages/app-renderer/src/MainWindow/storage/index.ts
  packages/app-renderer/src/MainWindow/storage/localStorage.ts
  packages/app-renderer/src/MainWindow/storage/sessionStorage.ts
Due: eslint --cache

chore(eslint): extend typescript-eslint recommends
  packages/app-common/.eslintrc.json
  packages/app-common/src/index.ts
  packages/app-common/src/utils/asserts.ts
  packages/app-common/src/utils/index.ts
  packages/app-main/.eslintrc.json
  packages/app-main/src/main/configuration/window.ts
  packages/app-main/src/main/window/windowManager.ts
  packages/app-main/src/preload/args.ts
  packages/app-renderer/.eslintrc.json
  packages/app-renderer/src/hooks/__tests__/usePersistFn.test.tsx
  packages/app-renderer/src/hooks/usePersistFn.ts
  packages/app-renderer/src/utils/frameless/TitleBar.tsx
  packages/app-renderer/src/utils/react/types.ts
  packages/app-renderer/src/utils/redux/omitUnderscorePrefixActions.ts
  packages/app-renderer/src/utils/redux/types.ts
  packages/app-renderer/src/utils/redux/useDispatching.ts
  packages/eslint-config/.eslintrc.basic.js
  packages/eslint-config/.eslintrc.react.js
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/scripts/.eslintrc.json
  packages/scripts/src/webpack/plugins/reloadElectronWebpackPlugin.ts
  packages/scripts/src/webpack/utils/getCacheIdentifier.ts
  packages/scripts/src/webpack/webpack.renderer.config.ts
  pnpm-lock.yaml
  template-electron-cra.code-workspace
Due: eslint --cache

chore: fix test setup filename in configurations
  packages/app-common/tsconfigs/tsconfig.esm.json
  packages/app-common/tsconfigs/tsconfig.types.json
  packages/scripts/src/jest/jest.config.ts
  packages/scripts/src/webpack/webpack.base.config.ts
Due: eslint --cache

bump version to v0.11.0
  CHANGELOG.md
  package.json
  packages/app-common/package.json
  packages/app-main/package.json
  packages/app-renderer/package.json
  packages/eslint-config/package.json
  packages/scripts/package.json
  packages/tsconfigs/package.json
Due: none

remove react-scripts
  package.json
  packages/app-renderer/package.json
  pnpm-lock.yaml
Due: none

chore: use vite to compile renderer code
  .github/workflows/regular.yml
  package.json
  packages/app-main/.eslintrc.json
  packages/app-main/package.json
  packages/app-renderer/.env
  packages/app-renderer/.eslintrc.json
  packages/app-renderer/.stylelintrc.js
  packages/app-renderer/index.html
  packages/app-renderer/package.json
  packages/app-renderer/public/icon.ico
  packages/app-renderer/public/index.html
  packages/app-renderer/public/manifest.json
  packages/app-renderer/public/vite.svg
  packages/app-renderer/src/global.d.ts
  packages/app-renderer/tsconfig.json
  packages/app-renderer/tsconfig.node.json
  packages/app-renderer/vite.config.ts
  packages/eslint-config/.eslintrc.basic.js
  packages/scripts/README.md
  packages/scripts/bin/app-renderer.js
  packages/scripts/package.json
  packages/scripts/src/bin.ts
  packages/scripts/src/electron.ts
  packages/scripts/src/index.ts
  packages/scripts/src/jest/transform.babel.ts
  packages/scripts/src/utils/paths.ts
  packages/scripts/src/webpack/utils/reloadElectronWebpackPlugin.ts
  packages/scripts/src/webpack/webpack.base.config.ts
  packages/scripts/src/webpack/webpack.main.config.ts
  packages/scripts/src/webpack/webpack.renderer.config.ts
  packages/scripts/tsconfig.json
  packages/scripts/tsconfigs/tsconfig.cjs.json
  packages/scripts/tsconfigs/tsconfig.types.json
  packages/tsconfigs/README.md
  packages/tsconfigs/tsconfig.base.json
  packages/tsconfigs/tsconfig.eslint.node.json
  packages/tsconfigs/tsconfig.node.types.json
  pnpm-lock.yaml
Due: eslint --cache

chore: use vite instead of CRA to compile renderer code (#56)
  .github/workflows/regular.yml
  package.json
  packages/app-main/.eslintrc.json
  packages/app-main/package.json
  packages/app-renderer/.env
  packages/app-renderer/.eslintrc.json
  packages/app-renderer/.stylelintrc.js
  packages/app-renderer/index.html
  packages/app-renderer/package.json
  packages/app-renderer/public/icon.ico
  packages/app-renderer/public/index.html
  packages/app-renderer/public/manifest.json
  packages/app-renderer/public/vite.svg
  packages/app-renderer/src/global.d.ts
  packages/app-renderer/tsconfig.json
  packages/app-renderer/tsconfig.node.json
  packages/app-renderer/vite.config.ts
  packages/eslint-config/.eslintrc.basic.js
  packages/scripts/README.md
  packages/scripts/bin/app-renderer.js
  packages/scripts/package.json
  packages/scripts/src/bin.ts
  packages/scripts/src/electron.ts
  packages/scripts/src/index.ts
  packages/scripts/src/jest/transform.babel.ts
  packages/scripts/src/utils/paths.ts
  packages/scripts/src/webpack/utils/reloadElectronWebpackPlugin.ts
  packages/scripts/src/webpack/webpack.base.config.ts
  packages/scripts/src/webpack/webpack.main.config.ts
  packages/scripts/src/webpack/webpack.renderer.config.ts
  packages/scripts/tsconfig.json
  packages/scripts/tsconfigs/tsconfig.cjs.json
  packages/scripts/tsconfigs/tsconfig.types.json
  packages/tsconfigs/README.md
  packages/tsconfigs/tsconfig.base.json
  packages/tsconfigs/tsconfig.eslint.node.json
  packages/tsconfigs/tsconfig.node.types.json
  pnpm-lock.yaml
Due: eslint --cache

chore: fix missing dev dep
  packages/app-main/package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump react and react-dom to v18
  packages/app-renderer/index.html
  packages/app-renderer/package.json
  packages/app-renderer/src/__tests__/hook.ts
  packages/app-renderer/src/hooks/__tests__/usePrevious.test.tsx
  packages/app-renderer/src/index.css
  packages/app-renderer/src/index.tsx
  pnpm-lock.yaml
Due: stylelint --cache, eslint --cache

feat: add `assertIsNever` and remove unused assertion helpers
  packages/app-common/src/utils/asserts.ts
  packages/app-main/src/main/window/windowManager.ts
Due: eslint --cache

refactor: don't use webpack-chunk-name in renderer code
  packages/app-renderer/src/MainWindow/routes/Routes.ts
  packages/app-renderer/src/reportWebVitals.ts
Due: eslint --cache

refactor: don't use web-vitals deprecated fns
  packages/app-renderer/src/reportWebVitals.ts
Due: eslint --cache

chore(ci): run release dry-run in PRs
  .github/workflows/release.yml
Due: none

chore(ci): set up concurrency settings
  .github/workflows/regular.yml
  .github/workflows/release.yml
Due: none

chore: dev with typecheck
  packages/app-renderer/.eslintrc.json
  packages/app-renderer/package.json
  packages/app-renderer/tsconfig.json
  packages/app-renderer/tsconfig.vite.json
  packages/app-renderer/vite.config.ts
  packages/scripts/package.json
  packages/scripts/src/webpack/webpack.main.config.ts
  pnpm-lock.yaml
Due: eslint --cache

chore(ci): run release dry-run in PRs (#61)
  .github/workflows/regular.yml
  .github/workflows/release.yml
Due: none

feat: delete duplicate api implementations
  packages/app-common/src/utils/asserts.ts
  packages/app-main/src/main/apis/app/getAppDetails.ts
  packages/app-main/src/main/apis/app/index.ts
  packages/app-main/src/main/app/__tests__/__snapshots__/getAppDetails.test.ts.snap
  packages/app-main/src/main/app/__tests__/getAppDetails.test.ts
  packages/app-main/src/main/app/getAppDetails.ts
  packages/app-main/src/main/app/index.ts
Due: eslint --cache

feat: add `Nullable` type
  packages/app-common/src/types/index.ts
  packages/app-common/src/types/utils.ts
  packages/app-main/src/main/window/windowManager.ts
  packages/app-renderer/src/MainWindow/pages/HomePage/components/Introduction/Introduction.tsx
  packages/app-renderer/src/MainWindow/redux/types.ts
  packages/app-renderer/src/hooks/__tests__/usePersistFn.test.tsx
Due: eslint --cache

refactor: move types to follow module structure
  packages/app-main/src/main/configuration/index.ts
  packages/app-main/src/main/configuration/store.ts
  packages/app-main/src/main/configuration/types.ts
  packages/app-main/src/main/configuration/window.ts
Due: eslint --cache

chore: use `exports` field to specify exports in `@ter/app-common` package
  packages/app-common/package.json
  packages/app-common/src/apis/index.ts
  packages/app-common/src/index.ts
  packages/app-main/src/main/apis/app/index.ts
  packages/app-main/src/main/apis/utils.ts
  packages/app-main/src/main/app/getAppDetails.ts
  packages/app-main/src/main/configuration/window.ts
  packages/app-main/src/main/index.ts
  packages/app-main/src/main/window/abstractWindow.ts
  packages/app-main/src/main/window/mainWindow.ts
  packages/app-main/src/main/window/types.ts
  packages/app-main/src/main/window/windowManager.ts
  packages/app-main/src/preload/app.ts
  packages/app-main/src/preload/args.ts
  packages/app-renderer/src/MainWindow/pages/HomePage/components/Introduction/Introduction.tsx
  packages/app-renderer/src/MainWindow/pages/HomePage/components/Introduction/__tests__/Introduction.test.tsx
  packages/app-renderer/src/MainWindow/redux/actions/__tests__/reducers.app.test.ts
  packages/app-renderer/src/MainWindow/redux/actions/reducers.app.ts
  packages/app-renderer/src/MainWindow/redux/types.ts
  packages/app-renderer/src/apis/index.ts
  packages/app-renderer/src/hooks/__tests__/usePersistFn.test.tsx
  packages/app-renderer/src/hooks/usePersistFn.ts
  packages/app-renderer/src/index.tsx
  packages/app-renderer/src/utils/redux/omitUnderscorePrefixActions.ts
  packages/app-renderer/src/utils/redux/useDispatching.ts
Due: eslint --cache
