Repository yifanwww/template-electron-react: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --cache, eslint --cache

.lintstagedrc:

{
    "*.{css,sass,scss}": [
        "stylelint --cache"
    ],
    "*.{ts,tsx}": [
        "eslint --cache"
    ]
}

feat: remove eslint-config package
  configs/eslint/index.mjs
  configs/eslint/rules.eslint.mjs
  configs/eslint/rules.import.mjs
  configs/eslint/rules.jest.mjs
  configs/eslint/rules.react-hooks.mjs
  configs/eslint/rules.react.mjs
  configs/eslint/rules.typescript.mjs
  electron-builder.json
  package.json
  packages/common/eslint.config.js
  packages/common/package.json
  packages/eslint-config/.prettierignore
  packages/eslint-config/README.md
  packages/eslint-config/package.json
  packages/eslint-config/tsconfig.json
  packages/eslint-config/tsconfigs/tsconfig.dist.json
  packages/eslint-config/tsconfigs/tsconfig.types.json
  packages/main/eslint.config.js
  packages/main/package.json
  packages/renderer/eslint.config.js
  packages/renderer/package.json
  packages/scripts/eslint.config.js
  packages/scripts/package.json
  pnpm-lock.yaml
  template-electron-react.code-workspace
Due: none

feat: remove tsconfigs package
  configs/tsconfigs/tsconfig.base.json
  configs/tsconfigs/tsconfig.node.base.json
  configs/tsconfigs/tsconfig.node.json
  configs/tsconfigs/tsconfig.node.types.json
  packages/common/package.json
  packages/common/tsconfig.json
  packages/common/tsconfigs/tsconfig.lib.json
  packages/common/tsconfigs/tsconfig.types.json
  packages/main/package.json
  packages/main/tsconfig.json
  packages/renderer/package.json
  packages/renderer/tsconfig.json
  packages/renderer/tsconfig.vite.json
  packages/scripts/package.json
  packages/scripts/tsconfig.json
  packages/scripts/tsconfigs/tsconfig.dist.json
  packages/scripts/tsconfigs/tsconfig.types.json
  packages/tsconfigs/.prettierignore
  packages/tsconfigs/README.md
  packages/tsconfigs/package.json
  template-electron-react.code-workspace
Due: none

feat: move jest configs
  .prettierignore
  configs/jest/jest.config.mjs
  configs/jest/jest.setup.mjs
  configs/jest/transform.css.mjs
  configs/jest/transform.file.mjs
  package.json
  packages/common/package.json
  packages/main/package.json
  packages/renderer/package.json
  packages/scripts/package.json
  packages/scripts/src/bin.ts
  packages/scripts/src/jest/whatwg-fetch.d.ts
  packages/scripts/src/utils/paths.ts
  pnpm-lock.yaml
  scripts/unit-test.mjs
Due: eslint --cache

feat: move webpack configs
  configs/webpack/createEnvironmentHash.mjs
  configs/webpack/reloadElectronWebpackPlugin.mjs
  configs/webpack/webpack.main.config.mjs
  configs/webpack/webpackStatsPrettifyPlugin.mjs
  package.json
  packages/main/package.json
  packages/scripts/bin/app-main.js
  packages/scripts/package.json
  packages/scripts/src/bin.ts
  packages/scripts/src/electron.ts
  packages/scripts/src/utils/paths.ts
  packages/scripts/src/webpack/utils/reloadElectronWebpackPlugin.ts
  pnpm-lock.yaml
  scripts/app-main.mjs
Due: eslint --cache

feat: remove scripts package
  .github/workflows/regular.yml
  package.json
  packages/common/package.json
  packages/main/package.json
  packages/renderer/package.json
  packages/renderer/vite.config.ts
  packages/scripts/.lintstagedrc
  packages/scripts/.prettierignore
  packages/scripts/README.md
  packages/scripts/bin/mkdir-working.js
  packages/scripts/bin/run-build.js
  packages/scripts/bin/run-unpacked.js
  packages/scripts/bin/unit-test.js
  packages/scripts/eslint.config.js
  packages/scripts/package.json
  packages/scripts/src/bin.ts
  packages/scripts/src/electron.ts
  packages/scripts/src/index.ts
  packages/scripts/src/utils/index.ts
  packages/scripts/src/utils/paths.ts
  packages/scripts/tsconfig.json
  packages/scripts/tsconfigs/tsconfig.dist.json
  packages/scripts/tsconfigs/tsconfig.types.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/app-main.mjs
  scripts/locations.mjs
  scripts/mkdir-working.mjs
  scripts/run-build.mjs
  scripts/run-unpacked.mjs
  scripts/unit-test.mjs
  template-electron-react.code-workspace
Due: eslint --cache

chore: update npm scripts
  .github/workflows/regular.yml
  .lintstagedrc
  README.md
  package.json
Due: none

feat: use assert fn from es-toolkit
  package.json
  pnpm-lock.yaml
  src/renderer/index.tsx
  src/renderer/utils/__tests__/__snapshots__/assert.test.ts.snap
  src/renderer/utils/__tests__/assert.test.ts
  src/renderer/utils/assert.ts
Due: eslint --cache

chore: update .gitattributes
  .gitattributes
Due: none

chore: delete code-workspace file
  README.md
  template-electron-react.code-workspace
Due: none

chore: update npm scripts
  CHANGELOG.md
  README.md
  package.json
  scripts/preview.mjs
  scripts/run-bundled.mjs
Due: none

refactor: don't set menu across windows
  src/main/window/mainWindow.ts
Due: eslint --cache

chore(deps): bump typescript to v6.0.3
  configs/tsconfigs/tsconfig.base.json
  package.json
  pnpm-lock.yaml
Due: none

chore(github): update action scripts to adapt node.js v24
  .github/workflows/regular.yml
  .github/workflows/release.yml
Due: none

chore: don't reload electron when only renderer code changes
  webpack.main.config.mjs
Due: none

chore: rename tsconfig for other configs written in typescript
  package.json
  tsconfig.config.json
  tsconfig.json
Due: none

feat(main): rename AppInfo.srcPath to AppInfo.sourcePath, add comments
  src/main/__mocks__/appInfo.ts
  src/main/appInfo.ts
  src/main/window/abstractWindow.ts
Due: eslint --cache

docs: update CHANGELOG
  CHANGELOG.md
Due: none

chore: ignore AI agent files when formatting or linting
  .prettierignore
  .stylelintrc.mjs
  eslint.config.mjs
Due: none

chore: make prepare.mjs
  package.json
  scripts/prepare.mjs
Due: none

chore: don't run Github Actions on skill/* branches
  .github/workflows/regular.yml
Due: none

chore: update app id
  electron-builder.json
Due: none

feat(main): add separate dayjs.ts file for registering dayjs plugins at the beginning
  src/main/dayjs.ts
  src/main/index.ts
Due: eslint --cache

chore: don't run tests on Windows or macOS
  .github/workflows/regular.yml
  src/main/app/__tests__/__snapshots__/getAppDetails.test.ts.snap
  src/main/app/__tests__/getAppDetails.test.ts
  src/main/utils/__tests__/__snapshots__/assert.test.ts.snap
  src/main/utils/__tests__/assert.test.ts
  src/main/utils/assert.ts
Due: eslint --cache

refactor(main): replace static singleton classes with module exports
  src/main/__mocks__/appInfo.ts
  src/main/__mocks__/logger.ts
  src/main/appInfo.ts
  src/main/configuration/store.ts
  src/main/index.ts
  src/main/logger.ts
  src/main/window/abstractWindow.ts
Due: eslint --cache

chore(jest): config 2 jest configs for main process and renderer process
  .agents/skills/jest-module-mocking/SKILL.md
  configs/jest/jest.jsdom.config.mjs
  configs/jest/jest.node.config.mjs
  package.json
  scripts/unit-test.mjs
  src/test-jsdom.setup.ts
Due: eslint --cache

chore: switch to electron-vite
  .gitignore
  configs/webpack/createEnvironmentHash.mjs
  configs/webpack/reloadElectronWebpackPlugin.mjs
  configs/webpack/webpackStatsPrettifyPlugin.mjs
  electron-builder.json
  electron.vite.config.mts
  package.json
  pnpm-lock.yaml
  resources/.gitkeep
  scripts/locations.mjs
  scripts/prepare.mjs
  scripts/preview.mjs
  scripts/run-bundled.mjs
  src/main/__mocks__/appInfo.ts
  src/main/appInfo.ts
  src/main/global.d.ts
  src/main/window/abstractWindow.ts
  src/renderer/MainWindow/containers/Home/Home.tsx
  src/renderer/MainWindow/containers/Home/Introduction.module.scss
  src/renderer/MainWindow/containers/Home/Introduction.tsx
  src/renderer/MainWindow/containers/Home/__tests__/Introduction.test.tsx
  src/renderer/MainWindow/containers/Home/__tests__/__snapshots__/Introduction.test.tsx.snap
  src/renderer/MainWindow/containers/Home/components/Introduction/index.ts
  src/renderer/index.html
  src/renderer/public/vite.svg
  tsconfig.config.json
  vite.renderer.config.mts
  webpack.main.config.mjs
  working/.gitkeep
Due: stylelint --cache, eslint --cache

chore: disable pnpm sideEffectsCache
  pnpm-workspace.yaml
Due: none

chore: no test-ci scripts, all in test scripts
  .github/workflows/regular.yml
  README.md
  configs/jest/jest.jsdom.config.mjs
  configs/jest/jest.node.config.mjs
  package.json
Due: none

chore: fix missing react HMR support
  electron.vite.config.mts
Due: none

chore: upgrade electron to v42
  electron.vite.config.mts
  package.json
  pnpm-lock.yaml
  src/renderer/index.html
  src/renderer/public/vite.svg
Due: none

chore: externalize dependencies by default
  electron-builder.json
  electron.vite.config.mts
  package.json
  pnpm-lock.yaml
  scripts/run-bundled.mjs
  src/main/index.ts
Due: eslint --cache

docs: update README, format documents
  .agents/skills/jest-module-mocking/SKILL.md
  .prettierrc
  CHANGELOG.md
  README.md
  package.json
Due: none

chore: auto-format markdown files on pre-commit
  .gitignore
  .lintstagedrc
  .prettierignore
  CHANGELOG.md
  package.json
Due: none

chore(tsconfig): don't auto load all @types/* packages
  configs/tsconfigs/tsconfig.base.json
Due: none

chore(eslint): enforce architectural boundaries
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

chore(tsconfig): turn on verbatimModuleSyntax
  configs/tsconfig.base.json
  tsconfig.config.json
  tsconfig.json
Due: none

fix: set BrowserWindow backgroundColor to #282c34 to prevent white flash on startup
  src/main/window/abstractWindow.ts
Due: eslint --cache
