Repository yifanwww/template-electron-react: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --cache, eslint --cache

refactor: create slice from reducers easier
  packages/app-renderer/src/MainWindow/redux/actions/slice.ts
Due: eslint --cache

refactor: move routes definition
  packages/app-renderer/src/MainWindow/containers/ClientArea/index.ts
  packages/app-renderer/src/MainWindow/containers/Home/Home.module.scss
  packages/app-renderer/src/MainWindow/containers/Home/Home.tsx
  packages/app-renderer/src/MainWindow/containers/Home/components/Introduction/Introduction.module.scss
  packages/app-renderer/src/MainWindow/containers/Home/components/Introduction/Introduction.tsx
  packages/app-renderer/src/MainWindow/containers/Home/components/Introduction/__tests__/Introduction.test.tsx
  packages/app-renderer/src/MainWindow/containers/Home/components/Introduction/__tests__/__snapshots__/Introduction.test.tsx.snap
  packages/app-renderer/src/MainWindow/containers/Home/components/Introduction/index.ts
  packages/app-renderer/src/MainWindow/containers/Home/index.ts
  packages/app-renderer/src/MainWindow/index.tsx
  packages/app-renderer/src/MainWindow/router/path.ts
  packages/app-renderer/src/MainWindow/router/routes.tsx
Due: stylelint --cache, eslint --cache

feat: use `createHashRouter` data router (#98)
  packages/app-renderer/src/MainWindow/containers/Home/Home.module.scss
  packages/app-renderer/src/MainWindow/containers/Home/Home.tsx
  packages/app-renderer/src/MainWindow/containers/Home/components/Introduction/Introduction.module.scss
  packages/app-renderer/src/MainWindow/containers/Home/components/Introduction/Introduction.tsx
  packages/app-renderer/src/MainWindow/containers/Home/components/Introduction/__tests__/Introduction.test.tsx
  packages/app-renderer/src/MainWindow/containers/Home/components/Introduction/__tests__/__snapshots__/Introduction.test.tsx.snap
  packages/app-renderer/src/MainWindow/containers/Home/components/Introduction/index.ts
  packages/app-renderer/src/MainWindow/containers/Home/index.ts
  packages/app-renderer/src/MainWindow/index.tsx
  packages/app-renderer/src/MainWindow/pages/HomePage/index.ts
  packages/app-renderer/src/MainWindow/router/path.ts
  packages/app-renderer/src/MainWindow/router/routes.tsx
  packages/app-renderer/src/MainWindow/routes/configs.ts
  packages/app-renderer/src/utils/react-router/createRoutes.ts
  packages/app-renderer/src/utils/react-router/index.ts
  packages/app-renderer/src/utils/react-router/types.ts
Due: stylelint --cache, eslint --cache

feat: wrap ipc API
  packages/app-main/src/preload/app.ts
  packages/app-main/src/preload/index.ts
  packages/app-main/src/preload/logger.ts
  packages/app-renderer/src/MainWindow/redux/thunks/thunks.app.ts
  packages/app-renderer/src/apis/exposes.ts
  packages/app-renderer/src/apis/index.ts
  packages/app-renderer/src/index.tsx
Due: eslint --cache

refactor: describe ipc api key in plain objects
  packages/app-common/src/apis/app/apis.ts
  packages/app-common/src/apis/logger/apis.ts
  packages/app-main/src/main/apis/app/index.ts
  packages/app-main/src/main/apis/logger/index.ts
  packages/app-main/src/preload/app.ts
  packages/app-main/src/preload/logger.ts
Due: eslint --cache

chore(github): rename github actions
  .github/workflows/regular.yml
  .github/workflows/release.yml
Due: none

chore(deps): don't explicitly specify jest-resolve
  packages/scripts/package.json
  pnpm-lock.yaml
Due: none

feat: add makeFn util fn
  packages/app-common/src/utils/__tests__/function.test.ts
  packages/app-common/src/utils/function.ts
  packages/app-common/src/utils/index.ts
  packages/app-main/src/main/apis/app/index.ts
  packages/app-main/src/main/apis/utils.ts
Due: eslint --cache

chore: no files.exclude in vscode workspace file
  template-electron-react.code-workspace
Due: none

chore: make @ter/app-common pure esm package
  packages/app-common/package.json
  packages/app-common/src/apis/app/apis.ts
  packages/app-common/src/apis/app/index.ts
  packages/app-common/src/apis/logger/apis.ts
  packages/app-common/src/apis/logger/index.ts
  packages/app-common/src/apis/types.ts
  packages/app-common/src/types/index.ts
  packages/app-common/src/utils/__tests__/array.test.ts
  packages/app-common/src/utils/function.ts
  packages/app-common/src/utils/index.ts
  packages/app-common/tsconfig.json
  packages/app-common/tsconfigs/tsconfig.lib.json
  packages/app-common/tsconfigs/tsconfig.types.json
  packages/tsconfigs/tsconfig.bundler.types.json
Due: eslint --cache

chore: don't set NODE_ENV in webpack process
  packages/scripts/package.json
  packages/scripts/src/bin.ts
  packages/scripts/src/webpack/webpack.main.config.ts
Due: eslint --cache

feat: add logger colors
  packages/app-main/package.json
  packages/app-main/src/main/logger.ts
  pnpm-lock.yaml
Due: eslint --cache

feat: customize log method singature
  packages/app-main/src/main/logger.ts
Due: eslint --cache

feat: use custom logger levels
  packages/app-main/src/main/apis/logger/index.ts
  packages/app-main/src/main/index.ts
  packages/app-main/src/main/logger.ts
  packages/app-main/src/main/window/abstractWindow.ts
Due: eslint --cache

feat: use label format
  packages/app-main/src/main/logger.ts
Due: eslint --cache

feat: improve logger format performance
  packages/app-main/src/main/logger.ts
Due: eslint --cache

chore: add NPM script build:libs, using pnpm advanced filtering
  .github/workflows/regular.yml
  package.json
Due: none

feat: change how we set page size
  packages/app-renderer/src/MainWindow/containers/Home/Home.module.scss
  packages/app-renderer/src/index.css
  packages/app-renderer/src/utils/frameless/Frameless.module.scss
Due: stylelint --cache

feat: improve logger (#108)
  packages/app-main/package.json
  packages/app-main/src/main/apis/logger/index.ts
  packages/app-main/src/main/index.ts
  packages/app-main/src/main/logger.ts
  packages/app-main/src/main/window/abstractWindow.ts
  pnpm-lock.yaml
Due: eslint --cache

feat(renderer): use RoutePath in routes
  packages/app-renderer/src/MainWindow/router/routes.tsx
Due: eslint --cache

fix(renderer): fix incorrect file path
  packages/app-renderer/src/MainWindow/containers/Home/components/Introduction/Introduction.tsx
  packages/app-renderer/src/MainWindow/containers/Home/components/Introduction/__tests__/__snapshots__/Introduction.test.tsx.snap
Due: eslint --cache

chore: change repo owner to yifanwww
  .github/ISSUE_TEMPLATE/but_report.md
  electron-builder.json
  package.json
  packages/app-common/package.json
  packages/app-main/package.json
  packages/app-renderer/package.json
  packages/app-renderer/src/MainWindow/containers/Home/components/Introduction/Introduction.tsx
  packages/app-renderer/src/MainWindow/containers/Home/components/Introduction/__tests__/__snapshots__/Introduction.test.tsx.snap
  packages/eslint-config/package.json
  packages/scripts/package.json
  packages/tsconfigs/package.json
Due: eslint --cache

chore(renderer): disable vite-plugin-checker option `enableBuild`
  .gitattributes
  packages/app-renderer/vite.config.mts
Due: none

bump version to v0.14.0
  CHANGELOG.md
  package.json
  packages/app-common/package.json
  packages/app-main/package.json
  packages/app-renderer/package.json
  packages/eslint-config/package.json
  packages/scripts/package.json
  packages/tsconfigs/package.json
Due: none

chore(eslint): update ESLint configs
  packages/app-main/.eslintrc.json
  packages/eslint-config/.eslintrc.basic.js
  packages/eslint-config/.eslintrc.node.js
  packages/eslint-config/.eslintrc.react.js
Due: none

docs: update CHANGELOG
  CHANGELOG.md
Due: none

chore(pnpm): use pnpm v10
  .github/workflows/regular.yml
  .github/workflows/release.yml
  package.json
  packages/app-main/src/main/configuration/window.ts
  packages/app-main/src/main/logger.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --cache

chore: use lint-staged in monorepo mode
  .github/workflows/regular.yml
  .github/workflows/release.yml
  .husky/pre-commit
  .lintstagedrc
  CHANGELOG.md
  package.json
  packages/app-common/.lintstagedrc
  packages/app-common/package.json
  packages/app-main/.lintstagedrc
  packages/app-main/package.json
  packages/app-renderer/.lintstagedrc
  packages/app-renderer/package.json
  packages/scripts/.lintstagedrc
  packages/scripts/package.json
  pnpm-lock.yaml
Due: none

chore(deps): refresh deps
  CHANGELOG.md
  package.json
  packages/app-common/package.json
  packages/app-common/src/types/index.ts
  packages/app-main/package.json
  packages/app-main/src/main/appInfo.ts
  packages/app-main/src/main/index.ts
  packages/app-main/src/main/logger.ts
  packages/app-main/src/main/window/windowManager.ts
  packages/app-renderer/.stylelintrc.js
  packages/app-renderer/package.json
  packages/app-renderer/src/MainWindow/containers/Home/components/Introduction/__tests__/Introduction.test.tsx
  packages/app-renderer/src/MainWindow/containers/Home/components/Introduction/__tests__/__snapshots__/Introduction.test.tsx.snap
  packages/app-renderer/src/MainWindow/index.tsx
  packages/app-renderer/src/MainWindow/router/routes.tsx
  packages/app-renderer/src/__tests__/hook.ts
  packages/app-renderer/src/hooks/__tests__/usePersistFn.test.tsx
  packages/app-renderer/src/hooks/usePersistFn.ts
  packages/app-renderer/src/index.css
  packages/app-renderer/src/reportWebVitals.ts
  packages/app-renderer/src/utils/frameless/Frameless.module.scss
  packages/app-renderer/src/utils/frameless/FramelessWindow.tsx
  packages/app-renderer/src/utils/frameless/TitleBar.tsx
  packages/app-renderer/src/utils/react/index.ts
  packages/app-renderer/src/utils/redux/index.ts
  packages/eslint-config/.eslintrc.basic.js
  packages/eslint-config/.eslintrc.node.js
  packages/eslint-config/package.json
  packages/scripts/package.json
  packages/scripts/src/electron.ts
  packages/scripts/src/jest/transform.file.ts
  packages/tsconfigs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: stylelint --cache, eslint --cache

test: import from jest globals
  packages/app-common/package.json
  packages/app-common/src/utils/__tests__/array.test.ts
  packages/app-common/src/utils/__tests__/function.test.ts
  packages/app-main/package.json
  packages/app-main/src/main/app/__tests__/getAppDetails.test.ts
  packages/app-main/src/main/utils/__tests__/assert.test.ts
  packages/app-renderer/.stylelintrc.js
  packages/app-renderer/package.json
  packages/app-renderer/src/MainWindow/containers/Home/components/Introduction/__tests__/Introduction.test.tsx
  packages/app-renderer/src/MainWindow/redux/actions/__tests__/reducers.app.test.ts
  packages/app-renderer/src/MainWindow/redux/actions/__tests__/store.test.ts
  packages/app-renderer/src/__tests__/hook.ts
  packages/app-renderer/src/__tests__/storage.ts
  packages/app-renderer/src/hooks/__tests__/usePersistFn.test.tsx
  packages/app-renderer/src/hooks/__tests__/usePrevious.test.tsx
  packages/app-renderer/src/test.setup.ts
  packages/app-renderer/src/utils/__tests__/assert.test.ts
  pnpm-lock.yaml
Due: eslint --cache

feat(webapp): remove redux
  CHANGELOG.md
  packages/app-main/src/main/index.ts
  packages/app-renderer/package.json
  packages/app-renderer/src/MainWindow/containers/Home/Home.tsx
  packages/app-renderer/src/MainWindow/index.tsx
  packages/app-renderer/src/MainWindow/redux/actions/__tests__/__snapshots__/reducers.app.test.ts.snap
  packages/app-renderer/src/MainWindow/redux/actions/__tests__/reducers.app.test.ts
  packages/app-renderer/src/MainWindow/redux/actions/__tests__/store.test.ts
  packages/app-renderer/src/MainWindow/redux/actions/index.ts
  packages/app-renderer/src/MainWindow/redux/actions/reducers.app.ts
  packages/app-renderer/src/MainWindow/redux/actions/slice.ts
  packages/app-renderer/src/MainWindow/redux/actions/store.ts
  packages/app-renderer/src/MainWindow/redux/adapters/.gitkeep
  packages/app-renderer/src/MainWindow/redux/hooks/index.ts
  packages/app-renderer/src/MainWindow/redux/hooks/use.app.ts
  packages/app-renderer/src/MainWindow/redux/hooks/useDispatching.ts
  packages/app-renderer/src/MainWindow/redux/hooks/useSelector.ts
  packages/app-renderer/src/MainWindow/redux/index.ts
  packages/app-renderer/src/MainWindow/redux/thunks/createThunk.ts
  packages/app-renderer/src/MainWindow/redux/thunks/index.ts
  packages/app-renderer/src/MainWindow/redux/thunks/thunks.app.ts
  packages/app-renderer/src/MainWindow/redux/types.ts
  packages/app-renderer/src/utils/redux/index.ts
  packages/app-renderer/src/utils/redux/omitUnderscorePrefixActions.ts
  packages/app-renderer/src/utils/redux/thunkCreatorFactory.ts
  packages/app-renderer/src/utils/redux/types.ts
  packages/app-renderer/src/utils/redux/useDispatching.ts
  pnpm-lock.yaml
Due: eslint --cache

feat(main): simplify window management
  packages/app-common/src/apis/app/apis.ts
  packages/app-common/src/types/index.ts
  packages/app-common/src/types/utils.ts
  packages/app-main/src/main/apis/app/index.ts
  packages/app-main/src/main/configuration/window.ts
  packages/app-main/src/main/index.ts
  packages/app-main/src/main/window/abstractWindow.ts
  packages/app-main/src/main/window/index.ts
  packages/app-main/src/main/window/mainWindow.ts
  packages/app-main/src/main/window/types.ts
  packages/app-main/src/main/window/windowManager.ts
  packages/app-main/src/preload/app.ts
  packages/app-renderer/src/apis/index.ts
  packages/app-renderer/src/hooks/__tests__/usePersistFn.test.tsx
Due: eslint --cache

Path conditions:
  stylelint --cache: any of: *.{css,sass,scss}
  eslint --cache: any of: *.{ts,tsx}
