Repository yifanwww/template-electron-react: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --cache, eslint --cache

.lintstagedrc:

{
    "*.{css,sass,scss}": [
        "stylelint --cache"
    ],
    "*.{ts,tsx}": [
        "eslint --cache"
    ]
}

feat(redux): Delete `createTypedSelector`, rename `IThunkClosure` to `IThunkActionWithArgs`
  packages/electron-renderer/src/MainWindow/redux/hooks/useMainSelector.ts
  packages/utils-redux/README.md
  packages/utils-redux/src/createTypedSelector.ts
  packages/utils-redux/src/index.ts
  packages/utils-redux/src/thunkCreatorFactory.ts
  packages/utils-redux/src/types.IThunk.ts
Due: eslint --cache

fix(hooks): Fix exports
  packages/hooks/README.md
  packages/hooks/src/index.ts
  packages/hooks/src/useConstFn.ts
  packages/hooks/src/usePersistFn.ts
Due: eslint --cache

chore: Change .env and prettier ignores
  packages/electron-renderer/.env
  packages/electron-renderer/.prettierignore
  packages/electron-renderer/tsconfig.json
Due: none

feat: Add package `@tecra/utils-test`
  package-lock.json
  package.json
  packages/hooks/src/__tests__/useBoolean.test.ts
  packages/hooks/src/__tests__/useConst.test.ts
  packages/hooks/src/__tests__/useConstFn.test.ts
  packages/hooks/src/__tests__/useCountdown.test.tsx
  packages/hooks/src/__tests__/useDelayFn.test.ts
  packages/hooks/src/__tests__/useDoubleTrigger.test.ts
  packages/hooks/src/__tests__/useForceUpdate.test.tsx
  packages/hooks/src/__tests__/useInterval.test.tsx
  packages/hooks/src/__tests__/usePersistFn.test.tsx
  packages/hooks/src/__tests__/useSimpleInterval.test.tsx
  packages/hooks/src/__tests__/useSimpleTimeout.test.tsx
  packages/hooks/src/__tests__/useTimeout.test.tsx
  packages/hooks/src/__tests__/useToggle.test.ts
  packages/hooks/src/test.d.ts
  packages/scripts/utils/bin.ts
  packages/scripts/utils/paths.ts
  packages/utils-test/.eslintrc.json
  packages/utils-test/.prettierignore
  packages/utils-test/README.md
  packages/utils-test/package.json
  packages/utils-test/src/global.d.ts
  packages/utils-test/src/hook.ts
  packages/utils-test/src/index.ts
  packages/utils-test/src/setup.ts
  packages/utils-test/tsconfig.json
  packages/utils-test/tsconfigs/tsconfig.esm.json
  packages/utils-test/tsconfigs/tsconfig.types.json
  template-electron-cra.code-workspace
Due: eslint --cache

feat(global-types): Add dep `ts-essentials`, improve global types
  package-lock.json
  package.json
  packages/global-types/.eslintrc.json
  packages/global-types/lib/assets.d.ts
  packages/global-types/lib/test.d.ts
  packages/global-types/lib/utils.type.d.ts
  packages/global-types/package.json
  packages/hooks/src/__tests__/useDelayFn.test.ts
  packages/hooks/src/__tests__/useDoubleTrigger.test.ts
Due: eslint --cache

feat(utils-react): Add utils for `onRenderXXX` callbacks, delete `clns`
  package-lock.json
  package.json
  packages/scripts/utils/bin.ts
  packages/utils-react/README.md
  packages/utils-react/package.json
  packages/utils-react/src/clns.ts
  packages/utils-react/src/index.ts
  packages/utils-react/src/onRender.tsx
  packages/utils-react/tsconfigs/tsconfig.esm.json
  packages/utils-react/tsconfigs/tsconfig.types.json
Due: eslint --cache

refactor&docs: Refactor how assets export, update author
  package.json
  packages/assets/README.md
  packages/assets/package.json
  packages/assets/src/__snapshots__/index.test.ts.snap
  packages/assets/src/index.test.ts
  packages/assets/src/index.ts
  packages/electron-common/package.json
  packages/electron-main/package.json
  packages/electron-renderer/package.json
  packages/electron-renderer/src/MainWindow/components/Introduction/Introduction.tsx
  packages/electron-renderer/src/MainWindow/components/Introduction/__snapshots__/Introduction.test.tsx.snap
  packages/eslint-config/package.json
  packages/global-types/package.json
  packages/hooks/package.json
  packages/scripts/package.json
  packages/stylelint-config/package.json
  packages/tsconfigs/package.json
  packages/utils-fluentui/package.json
  packages/utils-react/package.json
  packages/utils-redux/package.json
  packages/utils-test/package.json
Due: eslint --cache

refactor&docs: Change local webpack server port to `4321` and update docs
  README.md
  docs/install-electron.md
  docs/modify-project-configurations.md
  docs/npm-scripts.md
  packages/electron-main/src/window/abstractWindow.ts
  packages/electron-renderer/.env
  packages/electron-renderer/src/index.tsx
Due: eslint --cache

feat(renderer): Add deps, use `react-router` to route urls
  package-lock.json
  package.json
  packages/electron-renderer/src/MainWindow/common/index.ts
  packages/electron-renderer/src/MainWindow/common/page.ts
  packages/electron-renderer/src/MainWindow/containers/ClientArea/ClientArea.tsx
  packages/electron-renderer/src/MainWindow/containers/ClientArea/index.ts
  packages/electron-renderer/src/MainWindow/containers/HomePage/HomePage.tsx
  packages/electron-renderer/src/MainWindow/containers/HomePage/index.ts
  packages/electron-renderer/src/MainWindow/containers/configs.ts
  packages/electron-renderer/src/MainWindow/index.module.scss
  packages/electron-renderer/src/MainWindow/index.tsx
  packages/electron-renderer/src/hooks/usePageURL.ts
Due: stylelint --cache, eslint --cache

feat: Add package `@tecra/utils-type`
  README.md
  package-lock.json
  package.json
  packages/electron-main/src/window/abstractWindow.ts
  packages/scripts/utils/bin.ts
  packages/utils-type/.eslintrc.json
  packages/utils-type/.prettierignore
  packages/utils-type/README.md
  packages/utils-type/package.json
  packages/utils-type/src/base.ts
  packages/utils-type/src/hex-color.ts
  packages/utils-type/src/index.ts
  packages/utils-type/tsconfig.json
  packages/utils-type/tsconfigs/tsconfig.esm.json
  packages/utils-type/tsconfigs/tsconfig.types.json
  template-electron-cra.code-workspace
Due: eslint --cache

fix(utils-type): Fix type `IsHexColor`, add type `HexDigit`
  packages/utils-type/src/base.ts
  packages/utils-type/src/hex-color.ts
Due: eslint --cache

feat(hooks): Improve hooks
  packages/hooks/src/__tests__/useSingleInterval.test.tsx
  packages/hooks/src/__tests__/useSingleTimeout.test.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useBoolean.ts
  packages/hooks/src/useConstFn.ts
  packages/hooks/src/useCountdown.ts
  packages/hooks/src/useInterval.ts
  packages/hooks/src/useMount.ts
  packages/hooks/src/usePersistFn.ts
  packages/hooks/src/useSingleInterval.ts
  packages/hooks/src/useSingleTimeout.ts
  packages/hooks/src/useTimeout.ts
  packages/hooks/src/useToggle.ts
  packages/hooks/src/useUnmount.ts
Due: eslint --cache

feat(utils-redux): Don't re-export WritableDraft` from immer
  packages/utils-redux/src/index.ts
  packages/utils-redux/src/types.IReducer.ts
  packages/utils-redux/src/types.WritableDraft.ts
Due: eslint --cache

chore(eslint): Improve ESLint configs
  packages/eslint-config/index.js
Due: none

feat: Delete type util `IChildrenElementProps`, disable ESLint rule `react/prop-types`
  packages/electron-renderer/src/MainWindow/components/Introduction/Introduction.tsx
  packages/electron-renderer/src/utils/React/components/KeyboardCaptor/KeyboardCaptor.tsx
  packages/electron-renderer/src/utils/frameless/FramelessWindow.tsx
  packages/electron-renderer/src/utils/frameless/TitleBar.tsx
  packages/eslint-config/index.js
  packages/global-types/lib/utils.react.d.ts
  packages/hooks/src/__tests__/usePrevious.test.tsx
  packages/hooks/src/__tests__/useWhyDidYouUpdate.test.tsx
  packages/hooks/src/useWhyDidYouUpdate.ts
  packages/utils-fluentui/src/Provider.tsx
  packages/utils-react/README.md
Due: eslint --cache

feat: Add `ReactImmerReducer`, refactor package `@tecra/utils-redux`
  packages/electron-renderer/src/MainWindow/redux/types.ts
  packages/utils-react/README.md
  packages/utils-react/src/index.ts
  packages/utils-react/src/types.ts
  packages/utils-redux/README.md
  packages/utils-redux/src/index.ts
  packages/utils-redux/src/omitUnderscorePrefixActions.ts
  packages/utils-redux/src/thunkCreatorFactory.ts
  packages/utils-redux/src/types.IReducer.ts
  packages/utils-redux/src/types.IThunk.ts
  packages/utils-redux/src/types.ts
  packages/utils-redux/src/useDispatching.ts
  packages/utils-redux/src/useDispatchingThunks.ts
Due: eslint --cache

chore(deps): Add deps `immer` and `use-immer`
  package-lock.json
  package.json
  packages/utils-react/README.md
  packages/utils-react/src/types.ts
  packages/utils-redux/src/types.ts
Due: eslint --cache

refactor(renderer): Improve routes
  packages/electron-renderer/src/MainWindow/common/index.ts
  packages/electron-renderer/src/MainWindow/common/page.ts
  packages/electron-renderer/src/MainWindow/common/route.ts
  packages/electron-renderer/src/MainWindow/containers/configs.ts
  packages/electron-renderer/src/MainWindow/index.tsx
  packages/electron-renderer/src/hooks/usePageURL.ts
Due: eslint --cache

chore(deps): Upgrade deps `react-router` and `react-router-dom`
  package-lock.json
  package.json
  packages/electron-renderer/src/MainWindow/common/route.ts
  packages/electron-renderer/src/MainWindow/containers/configs.ts
  packages/electron-renderer/src/MainWindow/index.tsx
Due: eslint --cache

chore(deps): Use `husky`
  .githooks/pre-commit
  .husky/pre-commit
  package-lock.json
  package.json
  packages/scripts/bin/post-install.js
  packages/scripts/package.json
  template-electron-cra.code-workspace
Due: none

refactor: Update tests
  packages/assets/package.json
  packages/assets/src/__snapshots__/index.test.ts.snap
  packages/assets/src/index.test.ts
  packages/electron-renderer/src/MainWindow/components/Introduction/Introduction.test.tsx
  packages/electron-renderer/src/MainWindow/redux/actions/__snapshots__/reducers.test.ts.snap
  packages/electron-renderer/src/MainWindow/redux/actions/reducers.DisplayConfig.test.ts
  packages/electron-renderer/src/MainWindow/redux/actions/reducers.test.ts
  packages/electron-renderer/src/MainWindow/redux/actions/store.test.ts
  packages/electron-renderer/src/MainWindow/storage/localStorage.test.ts
  packages/electron-renderer/src/MainWindow/storage/sessionStorage.test.ts
  packages/electron-renderer/src/utils/style/colorTransformer.test.ts
  packages/electron-renderer/src/utils/style/num2string.test.ts
  packages/electron-renderer/src/utils/style/styleUtils.test.ts
  packages/hooks/src/__tests__/__snapshots__/useWhyDidYouUpdate.test.tsx.snap
  packages/hooks/src/__tests__/useBoolean.test.ts
  packages/hooks/src/__tests__/useConst.test.ts
  packages/hooks/src/__tests__/useConstFn.test.ts
  packages/hooks/src/__tests__/useCountdown.test.tsx
  packages/hooks/src/__tests__/useDelayFn.test.ts
  packages/hooks/src/__tests__/useDoubleTrigger.test.ts
  packages/hooks/src/__tests__/useForceUpdate.test.tsx
  packages/hooks/src/__tests__/useImmediateFocus.test.tsx
  packages/hooks/src/__tests__/useInterval.test.tsx
  packages/hooks/src/__tests__/useIsFocused.test.tsx
  packages/hooks/src/__tests__/useIsHovered.test.tsx
  packages/hooks/src/__tests__/useIsMounted.test.tsx
  packages/hooks/src/__tests__/useMount.test.tsx
  packages/hooks/src/__tests__/usePersistFn.test.tsx
  packages/hooks/src/__tests__/usePrevious.test.tsx
  packages/hooks/src/__tests__/useSingleInterval.test.tsx
  packages/hooks/src/__tests__/useSingleTimeout.test.tsx
  packages/hooks/src/__tests__/useTimeout.test.tsx
  packages/hooks/src/__tests__/useToggle.test.ts
  packages/hooks/src/__tests__/useUnmount.test.tsx
  packages/hooks/src/__tests__/useWhyDidYouUpdate.test.tsx
  packages/utils-test/src/hook.ts
Due: eslint --cache

feat(types): Add new global types `AnyFn`, `UnknownFn` and `VoidReturn`
  packages/global-types/lib/utils.type.d.ts
  packages/hooks/src/useConstFn.ts
  packages/hooks/src/useDelayFn.ts
  packages/hooks/src/useDoubleTrigger.ts
  packages/hooks/src/usePersistFn.ts
Due: eslint --cache

chore(deps): Upgrade `eslint` to v8.2.0, upgrade `stylelint` to v14.1.0
  package-lock.json
  package.json
  packages/electron-common/src/utils.ts
  packages/electron-renderer/src/MainWindow/components/Introduction/Introduction.test.tsx
  packages/eslint-config/index.js
Due: eslint --cache

feat(utils-test): Add test utils for mocking local storage and session storage
  .gitignore
  packages/electron-renderer/src/MainWindow/storage/localStorage.test.ts
  packages/electron-renderer/src/MainWindow/storage/sessionStorage.test.ts
  packages/tsconfigs/tsconfig.base.json
  packages/utils-test/src/index.ts
  packages/utils-test/src/storage.ts
  packages/utils-test/tsconfigs/tsconfig.esm.json
  packages/utils-test/tsconfigs/tsconfig.types.json
Due: eslint --cache

chore(tsconfigs): Enable `allowSyntheticDefaultImports` explicitly for the need of `react-scripts`
  packages/tsconfigs/tsconfig.base.json
Due: none

feat(hooks): Clear timeout when unmount in `useDelayFn`
  packages/hooks/src/__tests__/useDelayFn.test.ts
  packages/hooks/src/useDelayFn.ts
Due: eslint --cache

chore: Add `--if-present` in npm scripts
  package.json
  packages/eslint-config/package.json
  packages/global-types/package.json
  packages/scripts/package.json
  packages/stylelint-config/package.json
  packages/tsconfigs/package.json
  template-electron-cra.code-workspace
Due: none

feat(types): Overwrite some type declarations in global type declaration files
  README.md
  docs/modify-project-configurations.md
  packages/electron-renderer/src/global.d.ts
  packages/global-types/README.md
  packages/global-types/lib/index.d.ts
  packages/global-types/lib/utils.react.d.ts
  packages/utils-fluentui/src/global.d.ts
  packages/utils-react/src/global.d.ts
  packages/utils-redux/src/global.d.ts
Due: eslint --cache

docs: Update LICENSE
  LICENSE
Due: none

Revert `188ff07e` and improve how we use timers
  packages/electron-common/src/utils.ts
  packages/electron-renderer/src/global.d.ts
  packages/global-types/README.md
  packages/global-types/lib/index.d.ts
  packages/global-types/lib/utils.react.d.ts
  packages/hooks/src/__tests__/useCountdown.test.tsx
  packages/hooks/src/__tests__/useDoubleTrigger.test.ts
  packages/hooks/src/useInterval.ts
  packages/hooks/src/useSingleInterval.ts
  packages/hooks/src/useSingleTimeout.ts
  packages/hooks/src/useTimeout.ts
  packages/utils-fluentui/src/global.d.ts
  packages/utils-react/src/global.d.ts
  packages/utils-redux/src/global.d.ts
Due: eslint --cache

feat: Add global type `ValueOf`, use `React.FC` and `React.VFC` to make function components
  packages/electron-renderer/src/MainWindow/components/Introduction/Introduction.tsx
  packages/electron-renderer/src/MainWindow/containers/HomePage/HomePage.tsx
  packages/electron-renderer/src/MainWindow/index.tsx
  packages/electron-renderer/src/index.tsx
  packages/electron-renderer/src/utils/frameless/FramelessWindow.tsx
  packages/electron-renderer/src/utils/frameless/TitleBar.tsx
  packages/global-types/lib/utils.type.d.ts
  packages/hooks/README.md
  packages/scripts/webpack/webpack.base.config.ts
  packages/scripts/webpack/webpack.renderer.config.ts
  packages/utils-fluentui/src/Provider.tsx
  packages/utils-react/README.md
Due: eslint --cache

chore&refactor: Disable stylelint rule `selector-max-id`, improve code style
  docs/use-fluentui-list-in-scrollbar.md
  packages/electron-renderer/src/MainWindow/components/Introduction/Introduction.tsx
  packages/electron-renderer/src/index.css
  packages/electron-renderer/src/utils/frameless/Frameless.module.scss
  packages/electron-renderer/src/utils/frameless/FramelessWindow.tsx
  packages/electron-renderer/src/utils/frameless/TitleBar.tsx
  packages/stylelint-config/index.js
  packages/utils-fluentui/src/Provider.tsx
  packages/utils-react/README.md
  template-electron-cra.code-workspace
Due: stylelint --cache, eslint --cache

chore(deps): Upgrade `eslint-config-airbnb-typescript` to v16.1.0
  package-lock.json
  package.json
Due: none

feat(utils-redux): Delete type `ThunkArgsAction`
  packages/utils-redux/src/thunkCreatorFactory.ts
  packages/utils-redux/src/types.ts
Due: eslint --cache

feat(hooks): Improve `usePersistFn` by using only one `useRef`
  packages/hooks/README.md
  packages/hooks/src/__tests__/useDelayFn.test.ts
  packages/hooks/src/__tests__/usePersistFn.test.tsx
  packages/hooks/src/usePersistFn.ts
Due: eslint --cache

chore: Add npm script `dev` in not-react packages
  packages/electron-common/package.json
  packages/hooks/package.json
  packages/scripts/package.json
  packages/utils-fluentui/package.json
  packages/utils-react/package.json
  packages/utils-redux/package.json
  packages/utils-test/package.json
  packages/utils-type/package.json
Due: none

refactor: Move some global types into `@tecra/utils-type`
  packages/global-types/lib/utils.type.d.ts
  packages/utils-fluentui/src/styles.ts
  packages/utils-fluentui/src/tokens.ts
  packages/utils-redux/src/omitUnderscorePrefixActions.ts
  packages/utils-type/src/index.ts
  packages/utils-type/src/utils.ts
Due: eslint --cache

feat(types): Add some new type utilities
  packages/global-types/lib/utils.type.d.ts
  packages/utils-type/src/utils.ts
Due: eslint --cache

feat(test): Refactor test, add `mockConsoleToMatchSnapshot`
  packages/electron-renderer/src/MainWindow/components/Introduction/Introduction.test.tsx
  packages/electron-renderer/src/MainWindow/redux/actions/reducers.DisplayConfig.test.ts
  packages/electron-renderer/src/MainWindow/redux/actions/reducers.DisplayConfig.ts
  packages/electron-renderer/src/MainWindow/redux/actions/reducers.test.ts
  packages/electron-renderer/src/index.tsx
  packages/global-types/lib/index.d.ts
  packages/global-types/lib/test.d.ts
  packages/hooks/src/__tests__/__snapshots__/useWhyDidYouUpdate.test.tsx.snap
  packages/hooks/src/__tests__/useWhyDidYouUpdate.test.tsx
  packages/utils-test/src/console.ts
  packages/utils-test/src/index.ts
  packages/utils-test/src/setup.ts
  packages/utils-test/src/utils.ts
Due: eslint --cache
