Repository yifanwww/template-electron-react: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --cache, eslint --cache

.lintstagedrc:

{
    "*.{css,sass,scss}": [
        "stylelint --cache"
    ],
    "*.{ts,tsx}": [
        "eslint --cache"
    ]
}

chore: apply stricter tsconfig on vite.config.ts
  package.json
  packages/app-common/package.json
  packages/app-renderer/package.json
  packages/app-renderer/tsconfig.vite.json
  packages/scripts/package.json
  pnpm-lock.yaml
Due: none

chore: run typecheck sequentially in app-renderer package
  packages/app-renderer/package.json
  pnpm-lock.yaml
Due: none

chore: add missing test-full script in app-common package
  packages/app-common/package.json
Due: none

refactor: remove declare syntax
  packages/app-main/src/main/apis/utils.ts
  packages/app-main/src/main/appInfo.ts
  packages/app-main/src/main/configuration/window.ts
  packages/app-main/src/main/logger.ts
  packages/app-main/src/main/window/abstractWindow.ts
  packages/app-main/src/main/window/windowManager.ts
  packages/scripts/src/webpack/utils/reloadElectronWebpackPlugin.ts
Due: eslint --cache

chore: use esbuild to transpile app-main code
  packages/scripts/package.json
  packages/scripts/src/electron.ts
  packages/scripts/src/webpack/utils/getCacheIdentifier.ts
  packages/scripts/src/webpack/webpack.main.config.ts
  pnpm-lock.yaml
Due: eslint --cache

chore: use esbuild to transpile app-main code (#85)
  packages/app-main/src/main/apis/utils.ts
  packages/app-main/src/main/appInfo.ts
  packages/app-main/src/main/configuration/window.ts
  packages/app-main/src/main/logger.ts
  packages/app-main/src/main/window/abstractWindow.ts
  packages/app-main/src/main/window/windowManager.ts
  packages/scripts/package.json
  packages/scripts/src/electron.ts
  packages/scripts/src/webpack/utils/getCacheIdentifier.ts
  packages/scripts/src/webpack/utils/reloadElectronWebpackPlugin.ts
  packages/scripts/src/webpack/webpack.main.config.ts
  pnpm-lock.yaml
Due: eslint --cache

chore(eslint): extends eslint-plugin-jest recommended and style
  packages/app-renderer/src/__tests__/hook.ts
  packages/eslint-config/.eslintrc.basic.js
  packages/eslint-config/.eslintrc.react.js
Due: eslint --cache

refactor: rename Logger to AppLogger
  packages/app-main/src/main/index.ts
  packages/app-main/src/main/logger.ts
  packages/app-main/src/main/window/abstractWindow.ts
Due: eslint --cache

bump version to v0.13.0
  CHANGELOG.md
  package.json
  packages/app-common/package.json
  packages/app-main/package.json
  packages/app-renderer/package.json
  packages/eslint-config/package.json
  packages/scripts/package.json
  packages/tsconfigs/package.json
Due: none

feat: add missing readonly modifier
  packages/app-main/src/main/appInfo.ts
  packages/app-main/src/main/configuration/window.ts
  packages/app-main/src/main/window/windowManager.ts
  packages/scripts/src/webpack/utils/reloadElectronWebpackPlugin.ts
Due: eslint --cache

feat: add ts-pattern to perform pattern matching
  packages/app-main/package.json
  packages/app-main/src/main/window/windowManager.ts
  packages/app-renderer/package.json
  packages/app-renderer/src/index.tsx
  pnpm-lock.yaml
Due: eslint --cache

refactor: simpilfy assertion util functions
  packages/app-main/src/main/utils/__tests__/__snapshots__/assert.test.ts.snap
  packages/app-main/src/main/utils/__tests__/assert.test.ts
  packages/app-main/src/main/utils/assert.ts
  packages/app-renderer/src/utils/__tests__/__snapshots__/assert.test.ts.snap
  packages/app-renderer/src/utils/__tests__/assert.test.ts
  packages/app-renderer/src/utils/assert.ts
Due: eslint --cache

chore: use swc for unit test
  packages/scripts/package.json
  packages/scripts/src/jest/jest.config.ts
  packages/scripts/src/jest/transform.babel.ts
  packages/scripts/src/utils/paths.ts
  pnpm-lock.yaml
Due: eslint --cache

chore(deps): bump @typescript-eslint/eslint-plugin to v6
  packages/app-common/src/apis/types.ts
  packages/app-main/src/main/apis/utils.ts
  packages/app-renderer/src/utils/redux/types.ts
  packages/eslint-config/.eslintrc.basic.js
  packages/eslint-config/.eslintrc.react.js
  packages/eslint-config/package.json
  packages/scripts/src/webpack/webpack.main.config.ts
  pnpm-lock.yaml
Due: eslint --cache

chore(deps): refresh deps
  package.json
  packages/app-common/package.json
  packages/app-main/package.json
  packages/app-main/src/main/app/__tests__/getAppDetails.test.ts
  packages/app-renderer/.stylelintrc.js
  packages/app-renderer/index.html
  packages/app-renderer/package.json
  packages/eslint-config/package.json
  packages/scripts/package.json
  packages/tsconfigs/package.json
  packages/tsconfigs/tsconfig.node16.json
  pnpm-lock.yaml
Due: eslint --cache

chore(jest): fix jest module name mappers
  packages/scripts/src/jest/jest.config.ts
Due: eslint --cache

chore: exclude __mocks__ folders in tsconfig and jest config
  packages/app-common/tsconfigs/tsconfig.lib.json
  packages/app-common/tsconfigs/tsconfig.types.json
  packages/scripts/src/jest/jest.config.ts
Due: eslint --cache

feat: add Optional type
  packages/app-common/src/types/utils.ts
  packages/app-main/src/main/configuration/window.ts
  packages/app-main/src/main/window/windowManager.ts
  packages/app-renderer/src/MainWindow/pages/HomePage/components/Introduction/Introduction.tsx
  packages/app-renderer/src/MainWindow/redux/actions/slice.ts
  packages/app-renderer/src/MainWindow/redux/types.ts
  packages/app-renderer/src/hooks/__tests__/usePersistFn.test.tsx
Due: eslint --cache

chore(npm): fix dev script
  packages/app-common/package.json
Due: none

chore(jest): polyfill whatwg-fetch
  packages/scripts/package.json
  packages/scripts/src/jest/jest.config.ts
  packages/scripts/src/jest/jest.setup.ts
  packages/scripts/src/jest/whatwg-fetch.d.ts
  packages/scripts/src/utils/paths.ts
  pnpm-lock.yaml
Due: eslint --cache

feat: add makeHandler helper fn
  packages/app-main/src/main/apis/app/index.ts
  packages/app-main/src/main/apis/utils.ts
Due: eslint --cache

refactor: don't use global JSX namespace
  packages/app-renderer/src/MainWindow/index.tsx
  packages/app-renderer/src/MainWindow/pages/HomePage/HomePage.tsx
  packages/app-renderer/src/MainWindow/pages/HomePage/components/Introduction/Introduction.tsx
  packages/app-renderer/src/utils/frameless/FramelessWindow.tsx
  packages/app-renderer/src/utils/frameless/TitleBar.tsx
Due: eslint --cache

feat: wrap ipc API
  packages/app-main/src/preload/app.ts
  packages/app-main/src/preload/index.ts
  packages/app-main/src/preload/logger.ts
  packages/app-renderer/src/MainWindow/redux/thunks/thunks.app.ts
  packages/app-renderer/src/apis/exposes.ts
  packages/app-renderer/src/apis/index.ts
  packages/app-renderer/src/index.tsx
Due: eslint --cache

feat: add `IpcMainSenderAPI` for fast defining apis
  packages/app-common/src/apis/types.ts
Due: eslint --cache

refactor: change ipc channel name format
  packages/app-common/src/apis/app/apis.ts
  packages/app-common/src/apis/logger/apis.ts
Due: eslint --cache

feat: add `IpcMainSenderAPI` for defining main-to-renderer ipc API (#97)
  packages/app-common/src/apis/app/apis.ts
  packages/app-common/src/apis/logger/apis.ts
  packages/app-common/src/apis/types.ts
Due: eslint --cache

feat: use createHashRouter
  packages/app-renderer/src/MainWindow/constants/routes.ts
  packages/app-renderer/src/MainWindow/index.tsx
  packages/app-renderer/src/MainWindow/pages/HomePage/index.ts
  packages/app-renderer/src/MainWindow/routes/configs.ts
  packages/app-renderer/src/utils/react-router/createRoutes.ts
  packages/app-renderer/src/utils/react-router/index.ts
  packages/app-renderer/src/utils/react-router/types.ts
Due: eslint --cache

refactor: rename pages folder to containers
  packages/app-renderer/src/MainWindow/containers/Home/Home.tsx
  packages/app-renderer/src/MainWindow/containers/Home/components/Introduction/Introduction.module.scss
  packages/app-renderer/src/MainWindow/containers/Home/components/Introduction/Introduction.tsx
  packages/app-renderer/src/MainWindow/containers/Home/components/Introduction/__tests__/Introduction.test.tsx
  packages/app-renderer/src/MainWindow/containers/Home/components/Introduction/__tests__/__snapshots__/Introduction.test.tsx.snap
  packages/app-renderer/src/MainWindow/containers/Home/components/Introduction/index.ts
  packages/app-renderer/src/MainWindow/containers/Home/index.ts
  packages/app-renderer/src/MainWindow/index.tsx
  packages/app-renderer/src/MainWindow/pages/HomePage/index.ts
Due: stylelint --cache, eslint --cache

refactor: change router structure
  packages/app-renderer/src/MainWindow/containers/ClientArea/ClientArea.module.scss
  packages/app-renderer/src/MainWindow/containers/ClientArea/ClientArea.tsx
  packages/app-renderer/src/MainWindow/containers/ClientArea/components/Introduction/Introduction.module.scss
  packages/app-renderer/src/MainWindow/containers/ClientArea/components/Introduction/Introduction.tsx
  packages/app-renderer/src/MainWindow/containers/ClientArea/components/Introduction/__tests__/Introduction.test.tsx
  packages/app-renderer/src/MainWindow/containers/ClientArea/components/Introduction/__tests__/__snapshots__/Introduction.test.tsx.snap
  packages/app-renderer/src/MainWindow/containers/ClientArea/components/Introduction/index.ts
  packages/app-renderer/src/MainWindow/containers/ClientArea/index.ts
  packages/app-renderer/src/MainWindow/containers/Home/index.ts
  packages/app-renderer/src/MainWindow/index.tsx
Due: stylelint --cache, eslint --cache
